
<div id="crumbs" class="centred"><span class="arrow">&#9658;</span><a href="">About</a>&nbsp;&nbsp;\&nbsp;&nbsp;Tools for people learning to read Chinese.</div>
<div id="text" class="centred">
<div id="about" class="flatpage">

<p>Reading Chinese presents unique challenges - you might know an individual character, but combined with others it's gobbledegook; maybe you know a word when spoken, but haven't learned the character; or maybe you know reading will help you learn more, but it's just too tiring!</p>

<p>We make reading Chinese easier through:</p>

<ul>
    <li>Beautifully formatted text</li>
    <li>Integrated pinyin and dictionary tools</li>
    <li><a href="/bookmarklet/" class="ajax">Convert difficult Chinese webpages into easily read texts &raquo;</a></li>
    <li><a href="/personal-wordlists/" class="ajax">Personalised vocabulary lists &raquo;</a></li>
    <li><a href="/personal-reading-lists/" class="ajax">Personal reading lists &raquo;</a></li>
</ul>

<p>This site is in the early stages and we hope to add many more features in future:</p>

<ul>
    <li>Mobile applications</li>
    <li>Recommended reading appropriate to your level</li>
</ul>

</div>
</div>
