

<div id="about" class="text centred">

<p class="big">Dictionaries suck.</p>

<p class="big">How many times have you looked up a word, forgotten it, and then kicked yourself for not studying hard enough? But it's not your fault. Blame that lazy, part-time, good-for-nothing dictionary you bought.</p>

<p>You need a dictionary that pro-actively helps you remember, recall and learn vocabulary effectively. You need optimally timed reminders that caress, cosset and cajole you into remembering words before you forget them forever. You needa a tool that pays attention to what you search for and focuses on your needs. You need to say goodbye to:</p>

<ul>
    <li>Random flashcards or sets of vocabulary that you don't want, need or use.</li>
    <li>A short spurt of good intentions, and then everything falling to pieces after 1 week.</li>
    <li>Looking up really useful words during learning, and then losing track of them a day later</li>
    <li>Archaic methods that hold back your learning</li>
</ul>

<h3>How does this (completely free) dictionary work?</h3>

<p>Like any other online dictionary - you enter a word in Chinese, English or pinyin, and it spits out an answer. But, behind the scenes, it keeps track of your searches, and slowly builds up a history of words that are important to you, words that <em>you wanted to learn</em>.</p>

<p>Then we send you emails that help you recall and relearn those words at intervals designed for optimal learning performance. It's simple. Oh yeah, and completely free.</p>

<h3>Privacy concerns, worries, looking for the secret catch?</h3>

<p>If you're still not convinced, here's answers to some of your questions:</p>

<ul>
    <li>Yes, seriously, 100% free.</li>
    <li>We won't ever, ever, ever send you spam emails. You're email address will only ever be used to send you targeted vocabulary reminders. You can control your email settings completely from your account page.</li>
    <li>There's no huge, upfront effort needed by you - just use the dictionary like any other online dictionary, and over time we will help you learn more vocabulary by being active about your learning.</li>
</ul>

<h3>Who built this site</h3>

<p>This site was built by Chris West, a fellow student of Chinese and enthusiastic web developer. He's possibly the laziest Chinese learner who ever filled two pairs of boots.</p>

<h3>Attributions and thanks</h3>
<p>This site makes use of several valuable open-source tools. </p>

<ul>
    <li><strong>Dictionary resources:</strong> The brilliant <a href="http://cc-cedict.org/wiki/">CEDICT</a>provided the core Chinese-English dictionary source.</li>
    <li><strong>Language processing:</strong> <a href="http://cjklib.org/0.3/">cjklib</a> helps keep a lid on all character inputs, outputs and filtering.</li>
    <li><strong>Technology stack:</strong> Django, Redis, Nginx, Jquery and Pjax provide all the awesome technical capabilities. </li>
</ul>

</div>
