

<div id="about" class="text centred">

<h1>About <span class="orange">{{ sitename }}</span></h1>

<p class="big">Reading Chinese (Mandarin) presents unique challenges - we want to make it easier. </p>

<p>This site is a simple dictionary that (hopefully) works exceptionally fast. It's in the early stages of development, and only works as a Chinese-English dictionary. If you have any questions or problems, send them to <a href="mailto:info@chinesedictionary.io">info@chinesedictionary.io</a></p>

<h3>Attributions</h3>
<p>This site makes use of several valuable open-source tools. </p>

<ul>
    <li><strong>Dictionary resources:</strong> The brilliant <a href="http://cc-cedict.org/wiki/">CEDICT</a> is the Chinese-English dictionary source.</li>
    <li><strong>Language processing:</strong> <a href="http://cjklib.org/0.3/">cjklib</a> helps keep a lid on all character inputs, outputs and filtering.</li>
    <li><strong>Technology stack:</strong> Django, Redis, Nginx, Jquery and Pjax provide all the awesome technical capabilities. </li>
</ul>

</div>
