

<div id="about" class="text centred">

<h1>About {{ site_name }}</h1>

<p>Reading Chinese presents unique challenges - we aim to make it easier:</p>

<ul>
    <li>Powerful Chinese-English dictionary tools</li>
    <li><a href="/bookmarklet/" class="ajax">Convert difficult-to-read Chinese webpages into easily read texts &raquo;</a></li>
    <li><a href="/personal-wordlists/" class="ajax">Personalised vocabulary lists &raquo;</a></li>
    <li><a href="/personal-reading-lists/" class="ajax">Personal reading lists &raquo;</a></li>
    <li>Fast-loading and beautifully formatted text</li>

</ul>

<p>This site is in the early stages and we hope to add many more features in future:</p>

<ul>
    <li>Mobile applications</li>
    <li>Recommended reading appropriate to your level</li>
</ul>

<p>If you have any questions or problems, let us know on <a href="mailto:info@kandongle.me">info@kandongle.me</a></p>

</div>
</div>
