{% load staticfiles %}

<div class="text text-center pure-u-1 all-pad">

<h1>Add <a href="{{ siteurl }}">{{ sitename }}</a> to your homescreen</h1>

<p>You can add this site to your mobile desktop to access it just like an app.</p>

<hr/>

<div class="section pure-u-1 text-left" id="get_started">
     
    <p><img class="pure-u-1" src="{% static 'images/homescreen-guide-1.png' %}"/></p>
    
    <p class="big">Visit the website in your browser and click the 'Share' icon at the bottom (the box with the upwards arrow).</p>
            
</div>

<hr/>

<div class="section pure-u-1 text-left" id="get_started">
     
    <p><img class="pure-u-1" src="{% static 'images/homescreen-guide-2.png' %}"/></p>
    
    <p class="big">Click "Add to Home Screen" from the final menu on the page.</p>
            
</div>
<hr/>

<div class="section pure-u-1 text-left" id="get_started">
     
    <p><img class="pure-u-1" src="{% static 'images/homescreen-guide-3.png' %}"/></p>
    
    <p class="big">Give the icon a name (or just use the default) and click "Add" in the top right corner.</p>
            
</div>

<hr/>

<div class="section pure-u-1 text-left" id="get_started">
     
    <p><img class="pure-u-1" src="{% static 'images/homescreen-guide-4.png' %}"/></p>
    
    <p class="big">You should now have an 'app' icon on your desktop now. When you click it, it will open the website in your default browser.</p>
            
</div>


</div>
