{% load staticfiles %}

<div class="text text-center pure-u-1 all-pad">

<h1>A big thank you!</h1>

<p>Thanks for helping beta-test this tool - here's some basic information about the test and how to use the tool.</p>

{% if not request.user.is_authenticated %}
<p>Read the info below (2 minutes) and make sure you <a href="{% url 'registration_register' %}">sign up</a></p>
{% endif %}

<hr/>

<div class="section pure-u-1 text-left" id="get_started">
    <p class="big">This is a Chinese-English dictionary that helps you learn vocabulary faster and with less effort.</p>
    <p><strong>1. </strong>You use it like any other dictionary - search for words using Chinese, pinyin or English.</p>
    <p><strong>2. </strong>The tool remembers the words you've searched for, and sends you emails when you need to test/review them.</p>
    <p><strong>3. </strong>We use <a href="{% url 'page' 'spaced-repetition' %}">Spaced Repetition</a> techniques to make sure the memorisation process is optimised.</p>
            
</div>

<hr/>

<div class="section pure-u-1 text-left" id="how_it_works">
    <p class="big">For the period of this beta test, please try use this dictionary as your main Chinese-English dictionary <span style="text-decoration:underline;">for 1 month.</span></a></p>
        
    <p>It's a very early test, so you'll definitely bump into bugs, errors or features that aren't particularly great at the moment! Please try your best to stick with it and email us at <a href="mailto:info@chinesedictionary.io">info@chinesedictionary.io</a> or use the Weixin (WeChat) group to give feedback.</p>
    
    <p class="big"><a href="{% url 'page' 'add-to-homescreen-guide' %}">&raquo; Follow these directions to add the site to your mobile homescreen</a></p>

</div>

<hr/>

{% if not request.user.is_authenticated %}
<div class="section pure-g">
<a href="" class="button pure-u-1 all-pad text-center">Ready to signup now?</a>
</div>
{% endif %}



</div>
