{% load staticfiles %}

<div class="text text-center pure-u-1 all-pad">

<h1>Thanks!</h1>

<p>Here's some basic information on this beta test and how to use the tool.</p>

<p>Please read the info below (2 minutes) and then <a href="{% url 'registration_register' %}">start by signing up</a></p>

<hr/>

<div class="section pure-u-1 text-left" id="get_started">
    <p class="big">This is a Chinese-English dictionary that actively helps you learn vocabulary faster and with less effort.</p>
    <p><strong>1. </strong>You use it like any other dictionary - search for words using Chinese, pinyin or English.</p>
    <p><strong>2. </strong>The tool remembers the words you've searched for, and sets up automatic reviews / tests.</p>
    <p><strong>3. </strong>We use <a href="{% url 'page' 'spaced-repetition' %}">Spaced Repetition</a> techniques to make sure the memorisation process is optimised.</p>
            
</div>

<hr/>

<div class="section pure-u-1 text-left" id="how_it_works">
    <p class="big">For this beta test, please try use this dictionary as your main Chinese-English dictionary.</a></p>
    
    <p>You'll receive email notifications when you've got vocabulary to review or test - please try hard to open those emails and do the tests/reviews, just for the period of this beta-test.</p>
    
    <p>You will definitely bump into some bugs or find that the dictionary/tools are not perfect. Again, we're very thankful for your patience and please stick with it! It's a very early version, so we're trying to identify what's good and bad and what to improve.</p>
    
    
             
</div>

<div class="section pure-u-1 text-left" id="how_it_works">

    <p class="big">Please give us feedback! Bugs, areas to improve, things that work well and suggestions.</p>
    
    <p>Email <a href="mailto:info@chinesedictionary.io">info@chinesedictionary.io</a> or use the Weixin group to post comments and questions.</p>

</div>

<hr/>

<div class="section pure-g">
<a href="" class="button pure-u-1 all-pad text-center">Ready to signup now?</a>
</div>



</div>
