

<div id="about" class="text centred">

<h1>Help</h1>

<p class="big"><a href="mailto:info@chinesedictionary.io">Send an email</a> if your question isn't answered on this page.</p>

<h3>Pinyin</h3>
<p>You can input any standard pinyin method - that means a search for <a href="/search/nu_hai_zi/">nu hai zi</a> or <a href="/search/nv3_hai2_zi/">nv3 hai2 zi</a> or <a href="/search/nǚ_hái_zi/">nǚ hái zi</a> will return the same result. The site doesn't accept Wade-Giles or others - strictly <a href="http://en.wikipedia.org/wiki/Pinyin">Pinyin</a> and nothing else. We display pinyin using <a href="http://en.wikipedia.org/wiki/Diacritic">diacritic marks</a> - that is, with the tones above the vowels.</p>

<h3>Traditional / Simplified</h3>
<p>You can only search by (and get results back in) Simplified Chinese - sorry, no traditional characters yet.</p>

<h3>Searching for English</h3>
<p>You can't search for English words yet (ie. search for "girl" and get back <span class="pinyin">nǚ hái zi</span>). This is in the pipeline.</p>

</div>
