

<div id="about" class="text centred">

<h1>Help</h1>

<p class="big"><a href="mailto:info@chinesedictionary.io">Send an email</a> if your question isn't answered on this page.</p>

<ul>
    <li><a href="#bugs">I found a bug!</a></li>
    <li><a href="#howtouse">I don't know how to use the dictionary</a></li>
    <li><a href="#inputmethods">Can I search using <em>pinyin</em>/Traditional Chinese/Wade-Giles/...</a></li>
    <li><a href="">Is it really free?</a></li>
    <li><a href="">Can I get in contact?</a></li>

</ul>

<hr/>

<h3><a id="bugs"></a>I found a bug!</h3>

<p>If you've found a bug, please let us know. The Chinese word for bug is XXX.</p>

<hr/>

<h3><a id="bugs"></a>I don't know how to use the dictionary</h3>

<p>The site works just like any online dictionary - enter your search term into the big search box above, and we'll try to provide an accurate definition in the target language (ie. if you type English, we'll give you the Chinese and <em>pinyin</em>.</p>

<p>If you create an account and stay logged in, we'll automatically start recording your vocabulary searches and sending you optimised reminders by email. You don't need to do anything to make this happen.</p> 

<hr/>

<h3><a id="inputmethods"></a>Can I search using <em>pinyin</em>/Traditional Chinese/Wade-Giles/...</h3>
<p>You can input any standard pinyin method - that means a search for <a href="/search/nu_hai_zi/">nu hai zi</a> or <a href="/search/nv3_hai2_zi/">nv3 hai2 zi</a> or <a href="/search/nǚ_hái_zi/">nǚ hái zi</a> will return the same result. The site doesn't accept Wade-Giles or others - strictly <a href="http://en.wikipedia.org/wiki/Pinyin">Pinyin</a> and nothing else. We display pinyin using <a href="http://en.wikipedia.org/wiki/Diacritic">diacritic marks</a> - that is, with the tones above the vowels.</p>

<hr/>

<h3>Traditional / Simplified</h3>
<p>You can only search by (and get results back in) Simplified Chinese - sorry, no traditional characters yet.</p>

<h3>Searching for English</h3>
<p>You can't search for English words yet (ie. search for "girl" and get back <span class="pinyin">nǚ hái zi</span>). This is in the pipeline.</p>

</div>
