
<div id="crumbs" class="centred"><span class="arrow">&#9658;</span><a href="">About</a>&nbsp;&nbsp;\&nbsp;&nbsp;Personal Wordlists.</div>
<div id="text" class="centred">
<div id="about" class="flatpage">

<p class="big">How often do you look up a word in a dictionary, and then forget it again two weeks later?</p>

<p>This site offers personal wordlists based on words you've looked up previously. Every time you search, we add that word to your list, and then over time you build up a wordlist that's focussed on you and your interests (and not a random textbook).</p>

<p>You have to be logged in to take advantage of personal wordlists - remember it's <a href="{% url registration_register %}">free to register</a> and we'll never use your email address for spam.</p>

</div>
</div>