
<div id="crumbs" class="centred"><span class="arrow">&#9658;</span><a href="">About</a>&nbsp;&nbsp;\&nbsp;&nbsp;Personal Reading Lists.</div>
<div id="text" class="centred">
<div id="about" class="flatpage">

<p class="big">Save articles and webpages in Chinese for reading later</p>

<p>With your personal reading list, you can save webpages and articles to read (or re-read) later. Along with dictionary tools, pinyin guides and <a href="/personal-wordlists/" class="ajax">personal vocabulary lists</a>, it makes reading Chinese an adventure, not a nightmare.</p>

<p>You have to be logged in to take advantage of personal reading lists - remember it's <a href="{% url registration_register %}">free to register</a> and we'll never use your email address for spam.</p>

</div>
</div>