{% load staticfiles %}

<div class="text text-center pure-u-1 all-pad">

<h1>Spaced Repetition</h1>

<p>Best described as a technique that maximises learning whilst minimising the time you need to spend, we also like to call it learning for lazy people.</p>

<hr/>

<div class="section pure-u-1 text-left" id="get_started">
    <p class="big">Think back to school and you probably remember cramming the night before exams, long and repetitive speeches from teachers, and ultimately forgetting most of what you learned. </p>
    
    <p>Effective memory learning depends on correctly controlling <em>when</em> and <em>what</em> you learn. You might have seen something like this diagram before:</p>
    
    <p><img class="pure-u-1" src="{% static 'images/learning-curve-graph.png' %}"/></p>
    
    <p>It describes how the best time to learn something is <em>just as you're about to forget it</em> and no sooner/later. This is the essence of spaced repetition.</p>
            
</div>

<hr/>

<div class="section pure-u-1 text-left" id="">
    <p class="big">A basic Spaced Repetition process is simple:</p>
    
    <ol>
        <li>You learn something.</li>
        <li>A short time later, you review it again to refresh your memory.</li>
        <li>A slightly longer time later, you try to remember it (eg. in a test, you're forced to recall the item).</li>
        <li>If you fail the test, then you review the item again. If you pass the test, you reschedule a new test, but this time extend the interval.</li>
    </ol>
</div>

<hr/>

<div class="section pure-u-1 text-left" id="">
    <p class="big">Why use spaced repetition?</p>
    
    <ul>
        <li>The chief benefit is to save time. You optimise your study to avoid excessive repetition, and only learn when it's most efficient to do so.</li>
        <li>It actually helps! Often the way we normally study encourages bingeing, which strengthens short-term memorisation, but doesn't really help with long term memory. </li>
        <li>You can learn more! By avoiding study binges or constantly relearning things you've already mastered, you free up time to learn new things.</li>
    </ul>
</div>

<hr/>

<div class="section pure-u-1 text-left" id="">
    <p class="big">This tool automates the Spaced Repetition process for you, so you spend less effort learning more.</p>
    
    <p>Although very effective, this kind of learning requires some background 'admin' to work effectively. Luckily, technology makes this easy to do, and so we've taken that off your hands.</p>
    
    <p>You'll begin to learn passively, without needing to force yourself into long study sessions or to spend hours just creating the flashcards (that you'll probably forget to look at anyway!).</p>
    
    
</div>



<div class="section pure-g">
<a href="{% url 'registration_register' %}" class="button pure-u-1 all-pad text-center">Ready to signup now?</a>
</div>

</div>
