{% load staticfiles %}

<div id="about" class="pure-u-1 all-pad text-center">

<h2>Terms and conditions</h2>

<p>Please read this page carefully - it describes your rights and other things you should be aware of when using this website.</p>

<hr/>

<div class="section open" id="get_started">
    <h2>Privacy</h2>
    <div class="inner">
        <div class="box">
        </div>
        
        <div class="box">        
        </div>
        
        <div class="box">        
        </div>
        
    </div>
</div>


<div class="section">
    <h2>Attribution</h2>
    <div class="inner">    
        <div class="box box_3_3">
        </div>
    </div>

</div>



</div>
