

<div id="login" class="pure-u-1 all-pad text-center">

{% if user.is_authenticated %}
<p class="big">You're already signed in - visit your <a href="{% url 'user' %}">account page</a> here</p>
{% else %}
<h2>Login to your account</h2>

<p class="help pure-u-1">Don't have an account? <br/> <a href="{% url 'registration_register' %}">Click here to create a new one</a></p>


{% if form.errors %}
<p class="red">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'auth_login' %}" class="pure-u-1 text-center">
    {% csrf_token %}
    <p class="pure-g">
         <input type="email" name="email" id="id_email" value="" title="" placeholder="Enter your email address" class="all-pad pure-u-1"/>
         <label for="id_email">Your email address</label>
    </p>
    <p class="pure-g">
         <input type="password" name="password" id="id_password" value="" placeholder="Type your password" class="pure-u-1 all-pad"/>
         <label for="id_password1">Choose a password</label>
    </p>
    
    <p class="pure-g">
    <input type="submit" value="Login" class="button all-pad text-center pure-u-1" />
    </p>
    
    <p class="help pure-u-1"><a href="{% url 'auth_password_reset' %}">Forgot your password?</a></p>

</form>


{% endif %}

</div>
