{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Change your password{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css"/>
<style type="text/css">
.button {
  width: 250px;
  float: left;
  margin-left: 380px;
  font-size: 16px;	
}

ul.errorlist {
  float: left;
  width: 560px;
  color: red;
  font-size: 13px;
  list-style-type: ;
  margin: 0 0 10px 20px;
  padding: 0;	
}
</style>
{% endblock %}


{% block content %}


	<h1>Change your password</h1>


<p class="description">
	Change your password by entering your old password, and then setting a new password in the fields below:
</p>

<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" class="button" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
