{% extends "base.html" %}


{% block pagetitle %}Set your new password{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css">
<style type="text/css">
.button {
  width: 250px;
  float: left;
  margin-left: 310px;
  font-size: 16px;	
}

ul.errorlist {
  float: left;
  width: 560px;
  color: red;
  font-size: 13px;
  list-style-type: ;
  margin: 0 0 10px 20px;
  padding: 0;	
}



</style>
{% endblock %}

{% block content %}

{% if validlink %}

<div id="top">
	<h1>Set a new password</h1>
</div>

<p class="description">
	Enter your new password in the spaces provided below to change your password.
</p>

<form method="post" action=".">
  {{ form.as_p }}

  <input type="submit" class="button" value="Confirm" />
</form>

{% else %}

<div id="top">
	<h1>Error resetting your password</h1>
</div>

<p class="description">
	There was some kind of error resetting your password. It could be a problem with the link you were sent (perhaps too old, or not entered correctly). Please try again, or if all else fails, <a href="/contact/">contact us</a>!
</p>

{% endif %}

{% endblock %}
