{% extends "base.html" %}


{% block pagetitle %}Set your new password{% endblock %}

{% block extracss %}
<style type="text/css">


</style>
{% endblock %}

{% block content %}


<div class="centred text" id="login">

{% if validlink %}

<p class="big">
	Enter a new password below and click 'Confirm'.
</p>

<form method="post" action=".">
  {% csrf_token %}
  <p>
    <label for="id_new_password1">New password:</label>
    <input id="id_new_password1" type="password" name="new_password1" placeholder="Type your new password once">
  </p>
  <p>
    <label for="id_new_password2">New password confirmation:</label>
    <input id="id_new_password2" type="password" name="new_password2" placeholder="Type your new password twice">
 </p>

  <input type="submit" class="button" value="Confirm" />
</form>

{% else %}

<p class="big">
	There was some kind of error resetting your password. It could be a problem with the link you were sent (it could have expired, or it wasn't entered correctly). Please try again, or if all else fails, <a href="/contact/">contact us</a>!
</p>

{% endif %}

</div>

{% endblock %}
