{% extends base_template %}

{% block content %}

<div id="login" class="pure-u-1 all-pad text-center">

<h2>Forgotten your password?</h2>

{% if form.errors %}
<p class="red pure-u-1">{{ form.errors }}</p>
{% endif %}

<form method="post" action="{% url 'auth_password_reset' %}" class="pure-u-1 text-center">
  {% csrf_token %}
  <p class="pure-g">
    <label for="id_email">Enter your email address</label> 
    <input id="id_email" type="text" name="email" maxlength="75" placeholder="Enter the email address you registered your account with" class="all-pad pure-u-1"/>
  </p>
  
  <p class="help pure-u-1">Enter the email address you used to register and we'll reset your password for you. <br/>You will be sent an email confirming your new password.</p>
  <div class="pure-g">
      <input type="submit" value="Reset password" class="button all-pad text-center pure-u-1" />
    </div>
</form>
</div>

{% endblock %}