{% extends "base.html" %}

{% block pagetitle %}Change your password{% endblock %}

{% block extracss %}
<style type="text/css">

#search {
  display: none;   
}

#text {
  margin-top: 10%;   
}

form p {
  width: 100%;
  float: left;
  margin: 0 0 15px 0;   
}

form p.help {
  font-size: 14px;
  text-align: left; 
  margin: 10px 0 25px;  
}

input {
  float: left;
  width: 400px;   
}

input[type=submit] {
  float: left;
  width: auto;    
}

ul.errorlist {
  font-size: 16px;
  color: red;
  list-style-type: square;   
}

</style>
{% endblock %}

{% block content %}
<div class="centred easy" id="text">
<h1>Forgotten your password?</h1>

<form method="post" action=".">
  {% csrf_token %}
  <p><label for="id_email">Enter your email address</label> <input id="id_email" type="text" name="email" maxlength="75" class="clearMeFocus"/></p>
  <p class="help">Enter the email address you used to register and we'll reset your password for you. You will be sent an email confirming your new password.
</p>
  <input class="button" type="submit" value="Reset password" />
</form>
</div>
{% endblock %}
