{% extends "base.html" %}

{% block pagetitle %}Change your password{% endblock %}

{% block extracss %}
<style type="text/css">

#search {
  display: none;   
}


</style>
{% endblock %}

{% block content %}
<div class="centred text" id="login">
<h1>Forgotten your password?</h1>

{% if form.errors %}
<p class="red">{{ form.errors }}</p>
{% endif %}

<form method="post" action="{% url 'auth_password_reset' %}">
  {% csrf_token %}
  <p><label for="id_email">Enter your email address</label> <input id="id_email" type="text" name="email" maxlength="75" placeholder="Enter the email address you registered your account with"/></p>
  <p class="help">Enter the email address you used to register and we'll reset your password for you. <br/>You will be sent an email confirming your new password.</p>
  <input class="button" type="submit" value="Reset password" />
</form>
</div>
{% endblock %}
