{% extends base_template %}

{% block content %}

<div id="login" class="text-center pure-u-1 all-pad">

{% if user.is_authenticated %}
<p class="big">You're already signed in - visit your <a href="{% url 'user' %}">account page</a> here</p>
{% else %}
<h2>Create an account</h2>
<p class="help pure-u-1">Already have an account?  <a href="{% url 'django.contrib.auth.views.login' %}">Click here to login</a></p>

{% if form.errors %}
<p class="red">{{ form.errors }}</p>
{% endif %}

<form method="post" action="." class="pure-u">
{% csrf_token %}
<p class="pure-g">
     <input type="email" name="email" id="id_email" placeholder="Enter your email address" class="all-pad pure-u-1"/>
     <label for="id_email">Your email address</label>
</p>
<p class="pure-g">
     <input type="password" name="password1" id="id_password1" placeholder="Type your password once" class="all-pad pure-u-1"/>
     <label for="id_password1">Choose a password</label>
</p>

<p class="pure-g">
     <input type="password" name="password2" id="id_password2" placeholder="Type your password again" class="all-pad pure-u-1"/>
     <label for="id_password1">Type your password twice</label>
</p>

<p class="help pure-u-1">We take your privacy seriously. Creating an account means you agree to our <a href="{% url 'page' 'terms-and-conditions' %}">terms and conditions</a> - you should probably read them.</p>

<p class="pure-g">
<input type="submit" value="Create account" class="button pure-u-1 all-pad text-center" />
</p>
</form>


{% endif %}

</div>

{% endblock %}

