{% extends "base.html" %}

{% block pagetitle %}Register{% endblock %}

{% block extrajs %}
<script type="text/javascript">

</script>
{% endblock %}


{% block extracss %}

<style type="text/css">

#text {
  margin-top: 30px;   
}

form p {
  width: 100%;
  float: left;
  margin: 0 0 15px 0;   
}

form p.help {
  font-size: 14px;
  text-align: left; 
  margin: 10px 0 25px;  
}

input {
  float: left;
  width: 400px;   
}

input[type=submit] {
  float: left;
  width: auto;    
}

ul.errorlist {
  font-size: 16px;
  color: red;
  list-style-type: square;   
}

</style>
{% endblock %}

{% block content %}

<div id="crumbs" class="centred"><span class="arrow">&#9658;</span><a href="">Register</a>&nbsp;&nbsp;\&nbsp;&nbsp;It takes 10 seconds, and it's completely free</div>

<div id="text" class="centred easy">
{{ form.errors }}

<form method="post" action=".">
	{% csrf_token %}
  <p>{{ form.email }}<label for="id_email">Your email address <span>(will never be made public)</span></label></p>
  <p>{{ form.password1 }}<label for="id_password1">Choose a password</label></p>
  <input type="submit" value="Register now!" class="register button" />
    <p class="help"><strong>Register to use personalised reading lists, vocabulary and mobile applications.</strong> <br/><br/>We will never pass on your private information to any other individual or company. Your information is stored securely, your password encrypted, and your email will never be displayed publicly. We hate spam just as much as you do!</p>

</form>


</div>
{% endblock %}
