

<div class="chars pure-u-1 text-center">
    <span class="{% if word.chars|length > 3 %}{% if word.chars|length > 6 %}xx-small{% else %}x-small{% endif %}{% endif %}">
        {{ word.chars }}
    </span>
</div>

<hr/>

{% if word.meanings|length > 1 %}
<p class="help pure-u-1 text-center">{{ word.chars }} has {{ word.meanings|length }} pronunciations/meanings</p>
{% endif %}


<form action="{% url 'submit_answer' %}" method="post" id="item_{{ word.id }}" class="test pure-g">
{% csrf_token %}

<input id="id_characters" type="hidden" name="characters" value="{{ word.chars }}" />

{% for y in word.meanings %}
<div class="pinyin pure-g">

        <input type="hidden" name="pinyin_{{ forloop.counter }}_answer" value="{{ y.pinyin }}" />
        <input class="pinyin all-pad pure-u-1 text-center" name="pinyin_{{forloop.counter }}" id="id_pinyin_{{ forloop.counter }}" type="text" placeholder="How do you pronounce this character?" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>  
</div>
      
<div class="meaning pure-g">
        
        <!-- HIDDEN ANSWER -->
        <input type="hidden" name="meaning_{{ forloop.counter }}_answer" id="id_meaning_{{ forloop.counter }}_answer" value="{{ y.meaning }}" />
        <!-- END HIDDEN ANSWER -->
        
                
        <input name="meaning_{{ forloop.counter }}" checked="" id="id_{{ word.chars }}_meaning_{{ forloop.counter }}_1" value="{{ y.meaning }}" type="radio" />
        <label class="pure-u-1 all-pad" for="id_{{ word.chars }}_meaning_{{ forloop.counter }}_1">
            {{ y.meaning }}
        </label>
        
        
        <input name="meaning_{{ forloop.counter }}" checked="" id="id_{{ word.chars }}_meaning_{{ forloop.counter }}_2" value="{{ y.alternative_meaning }}" type="radio" />
        <label class="pure-u-1 all-pad" for="id_{{ word.chars }}_meaning_{{ forloop.counter }}_2">
            {{ y.alternative_meaning }}
        </label>
        
</div>
{% if not forloop.last %}
<hr/>
{% endif %}
{% endfor %}

<hr/>

<div class="pure-u-1">
<div class="pure-g">
    <a class="button red skip pure-u-6-24 all-pad text-center" href="#">
        Skip</a>
    <button type="submit" form="item_{{ word.id }}" class="pure-u-18-24 all-pad text-center">
        Confirm</button>
</div>
</div>

</form>

