

<div class="chars pure-u-1 text-center">
    <span class="{% if word.chars|length > 3 %}{% if word.chars|length > 6 %}xx-small{% else %}x-small{% endif %}{% endif %}">
        {{ word.chars }}
    </span>
</div>


{% if word.meanings|length > 1 %}
<p class="help pure-u-1 text-center">{{ word.chars }} has {{ word.meanings|length }} pronunciations/meanings</p>
{% endif %}


{% csrf_token %}

{% for y in word.meanings %}

    <span class="pure-u-1 text-center pinyin">
        {{ y.pinyin }}
    </span>
            
    
    <hr/>
    
    <span class="help statusbar pure-u-1 text-center b-pad">What does this mean? Choose the right answer</span>
          
    <div class="meaning pure-g">
            
            <button id="" data-correct="true" data-testing="meaning" data-chars="{{ word.chars }}" class="pure-u-1 all-pad empty">{{ y.meaning }}</button>
            <button id="" class="pure-u-1 all-pad empty">{{ y.alternative_meaning }}</button>
                
    </div>
    {% if not forloop.last %}
    <hr/>
    {% endif %}
{% endfor %}


