

<div class="chars pure-u-1 text-center">
    <span class="{% if word.chars|length > 3 %}{% if word.chars|length > 6 %}xx-small{% else %}x-small{% endif %}{% endif %}">
        {{ word.chars }}
    </span>
</div>


{% if word.meanings|length > 1 %}
<p class="help pure-u-1 text-center">{{ word.chars }} has {{ word.meanings|length }} pronunciations/meanings</p>
{% endif %}


{% csrf_token %}

{% for y in word.meanings %}

    <span class="pure-u-1 text-center pinyin">
        {{ y.meaning }}
    </span>
    
        
    <div class="pinyin pure-g" style="display:none;">
        <input type="hidden" name="pinyin_{{ forloop.counter }}_answer" value="{{ y.pinyin }}" />
        <input class="pinyin all-pad pure-u-1 text-center" name="pinyin_{{forloop.counter }}" id="id_pinyin_{{ forloop.counter }}" type="text" placeholder="How do you pronounce this character?" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>  
    </div>
    
    <hr/>
    
    <span class="help statusbar pure-u-1 text-center b-pad">How do you pronounce this word? Tap the right answer</span>
          
    <div class="meaning pure-g">
            
            <button id="" data-correct="true" data-testing="pinyin" data-chars="{{ word.chars }}" class="pure-u-1 all-pad empty">{{ y.pinyin }}</button>
            <button id="" class="pure-u-1 all-pad empty">{{ y.alternative_pinyin }}</button>
                
    </div>
    {% if not forloop.last %}
    <hr/>
    {% endif %}
{% endfor %}

