{% extends "base.html" %}

{% load endless django_static %}

{% block extrajs %}
<script type="text/javascript">


</script>
{% endblock %}


{% block extracss %}
<style type="text/css">


</style>
{% endblock %}

{% block content %}

<div id="crumbs" class="centred">
    <span class="arrow">&#9658;</span>
    <a href="{% url articles %}">Ready to test ({{ rtt_count }})</a> / WORD / TIMESTAMP / #SEARCHED / #TESTED / #CORRECT / DATE_LAST_TESTED
</div>

<ul id="vocablist" class="centred easy">
{% for x in ready_to_test %}
    <li class="wrapper">{{ x }}</li>
{% endfor %}
</ul>


<div id="crumbs" class="centred">
    <span class="arrow">&#9658;</span>
    <a href="{% url articles %}">Already tested ({{ at_count }})</a> / WORD / TIMESTAMP / #SEARCHED / #TESTED / #CORRECT / DATE_LAST_TESTED
</div>

<ul id="vocablist" class="centred easy">
{% for x in already_tested %}
    <li class="wrapper">{{ x }}</li>
{% endfor %}
</ul>



{% endblock %}
