
<script type="text/javascript">

    function bindActions() {
        
        /// UNBIND EVERYTHING FOR SAFETY
        $('#wordlist.test .action').unbind();
        
        /// REBIND SPECIFIC LINKS
        $('#wordlist.test .action.okay').bind('click', wordOK);
    } ;

    function wordOK() {
        var thisLink = $(this)
        $.ajax({
            url: thisLink.attr('href'),
            success: function(data) {

                /// DECREASE THE NOTIFICATION COUNT
                $('.menu-trigger .redalert').html( parseInt( $('.menu-trigger .redalert').html(), 10)-1) ;
                
                /// SLIDEUP AND REMOVE ELEMENT FROM DOM
                thisLink.parent('li').slideUp(300, function() {
                    thisLink.parent('li').remove();
                });
                
            },
        });        
        return false;
    } ;


    $(document).ready( function() {
        bindActions();                
    });

</script>


    {% if items %}        
    
        <ul id="wordlist" class="pure-g test">
            {% for w in items %}
                {% include 'srs/review_list_item.html' %}
            {% endfor %}
        </ul>
        
    {% else %}
    
        <p class="pure-u-1 all-pad text-center">You don't have any words to review now.</p>
        
    {% endif %}

    
    
