


<div class="centred test" id="account">
    
    <p class="big">Various stats and information about your progress</p>
    
    <div class="box">
        <a href="{% url 'review_new' %}"><span class="link"></span></a>
        Review new words
    </div> 
    
    
    <div class="box">
        <a href="{% url 'test' %}"><span class="link"></span></a>
        Start a test
    </div>  
    
    <div class="box">
        <a href="{% url 'view_wordlist' %}"><span class="link"></span></a>
        View your wordlist
    </div>
    
    
</div>

    
    
