
<div id="crumbs" class="centred"><span class="arrow">&#9658;</span><a href="">About</a>&nbsp;&nbsp;\&nbsp;&nbsp;Tools for people learning to read Chinese.</div>
<div id="text" class="centred">
<div id="about" class="flatpage">

<p>Reading Chinese presents unique challenges - you might know an individual character, but combined with others it's gobbledegook; maybe you know a word when spoken, but haven't learned the character; or maybe you know reading will help you learn more, but it's just too tiring!</p>

<p>Our aim is to make reading Chinese easier:</p>

<ul>
    <li>Well formatted text</li>
    <li>Pinyin guides</li>
    <li>Integrated dictionary</li>
    <li>Convert difficult Chinese webpages into easily read texts</li>
</ul>

<p>This site is in the early stages and we hope to add many more features in future:</p>

<ul>
    <li>Personalised reading lists and vocabulary</li>
    <li>Mobile applications</li>
    <li>Recommended reading appropriate to your level</li>
</ul>

</div>
</div>
