
<div id="flatpage">
<p class="big">This site is a set of tools for people who are learning to read Chinese.</p>

<p class="normal">Reading Chinese comes with unique challenges - while you might know the meaning of individual characters, it's sometimes hard to know their combined meaning; similarly, often you are blocked from learning and remembering a character because of the lack of pronunciation guides.</p>

<p class="normal">Our aim is to make reading Chinese easier:</p>

<ul>
    <li>Well formatted text</li>
    <li>Pinyin guides</li>
    <li>Integrated dictionary</li>
    <li>Bookmarklet to convert Chinese webpages into easily formatted text</li>
</ul>

<p>We're currently in early stages of development, and hope to add many more featuers in future:</p>

<ul>
    <li>Personalised reading lists</li>
    <li>Mobile applications</li>
    <li>Recommended reading appropriate to your level</li>
</ul>

</div>