

<div id="crumbs" class="centred">
    <span class="arrow">&#9658;</span>
    <a href="{% url articles %}">Your Articles</a>
</div>

{% if articles %}
<ul id="vocablist" class="centred easy">
    {% for x in articles %}
        <li class="wrapper" href="{% url url x.hash %}">
            <span class="next">&#9658;</span>
            <div class="article">
                <div class="title">{{ x.title }}</div>
                <div class="meta">
                    <span class="date">{{ x.date|date:"d M Y" }}</span> | 
                    <span class="url">{{ x.shorturl }}</span>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
<div id="text" class="centred">
    <p>Articles are webpages you've saved here - you haven't saved any web articles, so nothing appears below!</p>
    
    <p>Find out how this works with our <a href="/guide-to-articles/" class="ajax">Guide to Articles &raquo;</a></p>
</div>
{% endif %}
