
<div id="bookmarklet" class="flatpage">
<p class="big">Convert any long Chinese web-text into beautiful, easy-to-read text.</p>

<div class="explain">
<p><a class="button" href="javascript:location.href='{{ siteurl }}/?url='+encodeURIComponent(location.href)">KanDongLe</a></p>
<p class="guide"><strong>Drag and drop</strong> this link into your browser's bookmark toolbar</p>
<img src="/images/example.png"/>
</div>
<p>When you're on a long page of Chinese text, click the bookmark and it will automagically convert the webpage you are reading into something beautiful!</p>

<p>Want to try it out? Go to <a href="http://cn.nytimes.com/article/education/2012/09/22/c22dieting/">this page on the NYTimes Chinese website</a> and click the bookmarklet button you've just dragged into your toolbar.</p>

</div>