
<div id="bookmarklet" class="flatpage">
<p class="big">Convert any long Chinese web-text into beautiful, easy-to-read text.</p>

<p>If you read Chinese on the web, it's often difficult - small text, tightly packed, and no pinyin or dictionary! This bookmarklet solves the problem. Turn any long page of Chinese text into a well formatted document, easy to read and understand.</p>

<h3>How to use</h3>


<p><a class="button" href="javascript:location.href='{{ siteurl }}/?url='+encodeURIComponent(location.href)">Bookmark Me!</a></p>
<br clear="all"/>
<p>Drag and drop the button above into your browser's bookmarks toolbar. Then, when you're on a long page of Chinese text, click the bookmark and it will automagically convert the webpage you are reading into something beautiful!</p>

<p>Try going to <a href="http://cn.nytimes.com/article/education/2012/09/22/c22dieting/">this page on the NYTimes Chinese website</a>, and then clicking the bookmarklet button you've just dragged into your toolbar.</p>

</div>