
{% if word %}

    <h2>{{ word.english }}</h2>
    
    <ul id="wordlist" class="centred">
        {% for x in word.characters %}
        <li class="wrapper">
            <a data-pjax href="{% url 'single_word' x.chars">
            <span class="next">&#9658;</span>
            <div class="line en">
                <div class="chars">{{ x.chars }}</div>
                <div class="pinyin">{{ x.pinyin }}</div>
            </div>
            </a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="centred">Sorry, no results found!</p>
{% endif %}
