
<h3 class="centred"><span class="arrow">&#9658;</span> Examples <span class="this"> \ {{ word }}</span></h3>

{% if examples %}
<ul id="examplelist" class="centred">
  {% for x in examples %}
    <li class="wrapper" href="">
        <span class="next">&#9658;</span>
        <span class="snippet">…{{ x.snippet }}…</span>
        <span class="source">{{ x.source_url }} - <a href="{% url url x.source_key %}" class="ajax">View source</a></span>
    </li>
   {% endfor %}
</ul>
{% else %}
<p class="centred">Whoops! We can't find any examples of sentences with {{ word }} in them.</p>
{% endif %}
