{% extends "base.html" %}

{% load endless django_static %}

{% block extrajs %}
<script type="text/javascript" src="{% staticfile '/js/common.js' %}"></script>

{% endblock %}


{% block extracss %}
<style type="text/css">
h1 {
 font-weight: normal;
 font-size: 40px;
 color: #a01d1d;   
}

p.sub {
  font-size: 20px;
  line-height: 1.8em;   
}

#tools div, #userblock div {
   display: none;
}

img.example {
  box-shadow: 0 1px 3px #e1e1e1;
  float: left;
  margin: 0 40px 0 0;   
}



</style>
{% endblock %}

{% block content %}


<h1>Turn hard-to-read Chinese articles into clear, readable and pinyin-annotated text.</h1>
<p class="sub">It's simple - Chinese is hard to read in the first place, and often poorly formatted on the web, which makes things doubly-difficult for a non-native speaker. </p>
<img class="example" src="{% staticfile '/images/crap-text.jpg' %}"/><img  class="example" src="{% staticfile '/images/good-text.jpg' %}"/>

<p class="sub">This tool helps Chinese learners by formatting characters more clearly, annotating them with pinyin and definitions, and giving you extra tools that advance your learning.</p>



<form action="." method="post">
{% csrf_token %}
<textarea id="id_char" class="clearMeFocus" title="Enter 汉字 to start..." name="char"></textarea>
<input type="submit" value="GO" id="submit" class="submit button"/>

</form>





{% endblock %}
