{% load link_chars %}

<div id="crumbs" class="centred"><span class="arrow">&#9658;</span><a href="{{ url }}">{{ title|capfirst }}</a>{{ crumbs|safe }}</div>

<div id="text" class="centred">
    <div id="single">
        <div id="chars">{% for x in chars %}<a href="{% url single_word x %}" class="single"><span class="chars">{{ x }}</span></a>{% endfor %}</div>
        <table>
            <tr class="line">
                <td valign="top" class="pinyin">{{ word.pinyin1 }}</td>
                <td valign="top" class="meaning">{{ word.meaning1|link_chars|safe }}</td>
            </tr>
        
        {% if word.meaning2 %}
          <tr class="line">
                <td valign="top" class="pinyin">{{ word.pinyin2 }}</td>
                <td valign="top" class="meaning">{{ word.meaning2|link_chars|safe }}</td>
            </tr>
        {% endif %}
        {% if word.meaning3 %}
          <tr class="line">
                <td valign="top" class="pinyin">{{ word.pinyin3 }}</td>
                <td valign="top" class="meaning">{{ word.meaning3|link_chars|safe }}</td>
            </tr>
        {% endif %}
        </table>
    </div>
</div>

<h3 class="centred" id="examples" onclick="getExamples('{{ word.chars|safe }}');"><span class="arrow">&#9658;</span> Examples \ <span class="this">Click to show examples of this word</span></h3>
<ul id="examplelist" class="centred"></ul>


<h3 class="centred" id="similar" onclick="getSimilar('{{ word.chars|safe }}');"><span class="arrow">&#9658;</span> Similar words \ <span class="this">Click to show similar words</span></h3>
<ul id="similarlist" class="centred"></ul>