
<ul id="wordlist" class="pure-g">
{% for u in users %}
    <li class="wrapper pure-u-1 all-pad">
        <div class="chars">{{ u.email }}</div>
        <div class="pinyin">
            <table>
                <tr>
                    <td width="200px">Personal Words</td>
                    <td>{{ u.get_personal_words.count }}</td>
                </tr>
                
                <tr>
                    <td>Words reviewed</td>
                    <td> {{ u.words_reviewed }}</td>
                </tr>
                
                <tr>
                    <td>Words reviewed again</td>
                    <td> {{ u.words_reviewed_again }}</td>
                </tr>
                
                <tr>
                    <td>Language Items Tested:</td>
                    <td> {{ u.no_answered }}</td>
                </tr>
                
                <tr>
                    <td>Correct Answers: </td>
                    <td>{{ u.no_correct }}</td>
                </tr>
                
                <tr>
                    <td>Incorrect Answers:</td>
                    <td>{{ u.no_wrong }}</td>
                </tr>
                
                <tr>
                    <td>Success Rate:</td>
                    <td>{{ u.get_success_percent|floatformat:"-2" }}%</td>
                </tr>
            </table>
              
        </div>
    </li>
{% endfor %}
</ul>