
{% if words or suggested %}

    <ul id="wordlist" class="pure-u-1">
    
    {% if not request.user.is_authenticated %}
    <li class="head all-pad">Learn these word faster - <a href="{% url 'auth_login' %}">Login</a> or <a href="{% url 'registration_register' %}">register</a></li>
    {% endif %}
    
    {% if words %}
        {% for w in words %}
        
            {% for x in w.meanings %}
            <li class="wrapper pure-u-1 all-pad" id="char{{ w.wordset }}" chars="{{ w.chars }}">
            
                <a data-pjax href="{% url 'single_word' w.chars %}" class="pure-g">            
                    <span class="next">&#9658;</span>
                                
                    <div class="chars pure-u ">{{ w.chars }}</div>
                    <div class="pinyin pure-u l-pad">{{ x.pinyin }}</div>
                    <div class="meaning pure-u-1 r-pad">{{ x.meaning|safe }}</div>
                
                </a>
                
            </li>
            {% endfor %}
        {% endfor %}
    {% else %}
        <li class="all-pad">Couldn't find any results for your search! {% if suggested %}Now showing other related words:{% endif %}</li>
    {% endif %}

    {% if suggested %}
        {% if words %}<li class="all-pad">Other relevant results</li> {% endif %}   
        {% for w in suggested %}
            {% for x in w.meanings %}
            <li class="wrapper pure-u-1 all-pad" id="char{{ w.wordset }}" chars="{{ w.chars }}">
            
                <a data-pjax href="{% url 'single_word' w.chars %}" class="pure-g">            
                    <span class="next">&#9658;</span>
                                
                    <div class="chars pure-u ">{{ w.chars }}</div>
                    <div class="pinyin pure-u l-pad">{{ x.pinyin }}</div>
                    <div class="meaning pure-u-1 r-pad">{{ x.meaning|safe }}</div>
                
                </a>
                
            </li>
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    </ul>
{% else %}
    <p class="pure-u-1 text-center all-pad">Sorry, no results found!</p>
{% endif %}