{% load convert_backslashes %}

<div id="about">
{% if title %}

<h2>{{ title }}</h2>

{% endif %}

{% if words %}

    <ul id="wordlist" class="">
    
    {% for w in words %}
        <li class="wrapper" id="char{{ w.wordset }}" chars="{{ w.chars }}">
            <a data-pjax href="{% url 'single_word' w.chars %}">
            
            
            <span class="next">&#9658;</span>
            
            
            
            <div class="chars">{{ w.chars }}</div>
            {% for x in w.meanings %}
                <div class="line">
                    
                    <div class="pinyin">{{ x.pinyin }}</div>
                    <div class="meaning">{{ x.meaning|safe }}</div>
                </div>
            {% endfor %}
            
            
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p class="big">Sorry, no results found!</p>
{% endif %}

</div>