html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: Georgia,sans-serif;
}

.pure-g > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all-pad {
  padding: 1em;
}

.l-pad {
  padding-left: 1em;   
}

.r-pad {
  padding-right: 1em;   
}

.t-pad {
  padding-top: 1em;    
}

.b-pad {
  padding-bottom: 1em;    
}

html {
  border: none;
  margin: 0;
  padding: none;	
}

body {
  color: #333;
  background: #fff;
  font-family: Georgia,sans-serif;
  margin: 0;
  padding: 0;  
}

a:link, a:visited {
  text-decoration: none;
  color: #2772b2;   
}

a:hover, a:active {
   text-decoration: underline;
}

.button, button, a.button, input.button {
  background: #2772b2;
  color: #fff;   
  border: none;
  font-family: Georgia, sans-serif;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  border-right: 1px solid #fff;
}

.button:hover, button:hover, a.button:hover, input.button:hover {
  cursor: pointer;
  background: #3880bd;   
}

.button.large, button.large, a.button.large, input.button.large {
  font-size: 1.4em;
}

.button.thin, button.thin, a.button.thin, input.button.thin {
  border: 1px solid #e1e1e1;
  background: none;
  color: #2772b2;   
}

.button.thin:hover, button.thin:hover, a.button.thin:hover, input.button.thin:hover {
  color: #3880bd;
  border-color: #c1c1c1;   
}

.button.red, button.red, a.button.red, input.button.red {
  background: #D30000;
  color: #fff;
}

.button.green, button.green, a.button.green, input.button.green {
  background: green;
  color: #fff;
}

span.orange, span.pinyin {
  color: #2772b2;     
}

span.link {
  width: 100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;   
}

.button:hover, a.button:hover {
    background: #2373b8;
    color: #fff;    
}

p.red, a.red, span.red {
  color: #D30000;   
}

.small, span.small {
  font-size: 0.8em;   
}

.x-small, span.x-small {
  font-size: 0.6em;   
}

.xx-small, span.xx-small {
  font-size: 0.3em;   
}

.grey, span.grey {
  color: #999;   
}

hr {
  border: 1px dashed #e1e1e1;
  border-width: 1px 0 0 0;
  display: inline-block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

#container {

}

.centred {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 960px;
}

.text-center {
 text-align: center;  
}

.text-left {
  text-align: left;   
}

#loading {
  position: absolute;
  left: 48%;
  top: 40%;
  display: none;   
}


::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 14px;
  color: #c1c1c1;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 14px;
  color: #c1c1c1;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 14px;
  color: #c1c1c1;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 14px;
  color: #c1c1c1;
}

/* HEADER STYLES */

#header {
    margin: 0 0 0px;
    position: relative;
    background: #f9f9f9;
}

#header #menu {
  position: relative;
  text-align: center;   
}

#header #menu button {
    background: url("/static/images/sprite.png") no-repeat scroll -76px -22px rgba(0, 0, 0, 0);
    bottom: 0;
    display: inline-block;
    height: 16px;
    margin: auto 0;
    position: absolute;
    right: 5px;
    top: 0px;
    width: 21px;
    border: none;
}

#header #ricon {
  border-left: 1px solid #f1f1f1;   
}

#header #ricon.selected {
  border-bottom: 1px solid #f9f9f9;
  z-index: 21; 
  position: relative;  
}

#header #ricon.selected button {
  color: #333;
}

#header #ricon button {
  display: inline-block;
  text-align: center;
  background: none;
  border: none;
  color: #c1c1c1;
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

#header #ricon button.alert {
  font-size: 0.7em;
  color: #fff;
  background: #D30000;
  padding: 0.4em;
  line-height: 1em;
  border-radius: 2px;   
}



#jPanelMenu-menu {
  border-right: 1px solid #e1e1e1;   
}

#jPanelMenu-menu ul {
  margin: 0;
  padding: 0;   
}

#jPanelMenu-menu ul li a {
  border-bottom: 1px solid #f1f1f1;
  padding-left: 2em;
}


#header a {
  border-right: 1px solid #f1f1f1;
  position: relative;
  text-align: center;
  font-size: 0.8em;
}


#header a.selected {
    background: #2772b2;
    color: #fff;
    position: relative;
    z-index: 1000;
}

#header a.selected:before {
    border-color: #2772b2 transparent;
    border-style: solid solid none solid;
    border-width: 10px 10px 0 10px;
    content: " ";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    bottom: -10px;
    width: 0;
    z-index: 10;
}


#search {
    position: relative;
}

#search button {
    border: medium none;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    float: left;
    font-size: 20px;
    height: auto;
    padding: 10px 35px;
    width: auto;
}

#search button {
    display: none;
    background: none repeat scroll 0 0 transparent;
    border-radius: 0;
    color: #333;
    float: right;
    font-size: 13px;
    padding: 16px 10px;
    width: 10%;
}

#search input#id_char {
    background: none repeat scroll 0 0 transparent;
    border: none;
    border-left: 1px solid #f1f1f1;
    color: #999;
    border-radius: 0;
    color: #333333;
    overflow: hidden;
    line-height: 1.2em;
    font-size: 1.1em;
    position: relative;
}

#search input#id_char:focus {
  color: #222; 
  outline: none; 
}

#search label[for="id_char"] {
    background: url("/static/images/sprite.png") no-repeat scroll -28px 1px #f9f9f9;
    content: " ";
    display: block;
    height: 22px;
    left: 5px;
    position: absolute;
    top: 13px;
    width: 22px;
    z-index: 1000;
    display: none;
}


/* END HEADER STYLES */


/* RIGHT ICON OVERLAYS */



#overlays {
  background: #f9f9f9;
  color: #333;
  display: none; 
  line-height: 1.3em; 
  border-top: 1px solid #f1f1f1;
  position: relative;
  top: -1px;
  z-index: 20; 
}

#overlays > div {
  display: none;
  font-size: 0.8em;   
}

/* END RIGHT ICON OVERLAYS */

/* FORMS STYLES */

form {
 text-align: left;  
}

.text form p {
  margin: 10px 0 10px;
}

form p.help, p.help {
  color: #777777;
  font-size: 0.8em;
  text-align: center;
}

textarea {
 width: 700px;   
 -moz-box-sizing: content-box;
 border: 1px solid #E4E4E4;
 border-radius: 4px 4px 4px 4px;
 font-size: 32px;
 padding: 10px;
}

input, textarea {
    background-color: #fff;
    border: 1px solid #c1c1c1;
    -webkit-appearance: none;
    border-radius: 0;
    font-family: Georgia;
    font-size: 13px;
    padding: 10px;
}

input.submit:hover {
  cursor: pointer;   
}

label {
}

input[type=submit]:hover {
  cursor: pointer;   
}

label.focus {
  color: #d1d1d1;   
}

/* END FORMS */

/* ACCOUNT PAGE */

#account {
}

#account .section {
  border-bottom: 1px dashed #e1e1e1;
  background: none;
  position: relative;
  margin: 0 0px 10px 0;
  padding: 10px 15px 10px 0;
}

#account .section .title {
  color: #000;
  margin: 0;
  position: relative; 
}

#account .section .title span.notification {
    background: none repeat scroll 0 0 #d30000;
    border-radius: 2px;
    color: #fff;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    line-height: 1em;
    padding: 3px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 7px;
    min-width: 10px;
}

#account .section .inner {
  color: #666;
  font-size: 0.8em;
  position: relative;
  z-index: 1000;   
}

#account .section .inner strong {
  color: #333;   
}

#account .section#settings ul {
  list-style-type: none;
  margin: 0;
  padding: 0;   
}


#account .inner .box {
  float: left;
  width: 30%;
  margin: 0px 1.5% 0px;
  text-align: left;   
}

#account .inner p.big {
  font-size: 1.3em;
  line-height: 1.6em;  
  color: #333;  
}

#account .inner div.link {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 1.3em;  
  margin: 5px 0 25px 0; 
}

#account .inner div.link a {
  padding: 5px 10px;
  border: 1px solid #e1e1e1;   
}

/* END ACCOUNT PAGE  */


/* ABOUT PAGE STYLES */


.text .section {
  position: relative;
}

.text .section p.big {
  color: #333;
  font-size: 1em;   
}

.text .section p {
  color: #666;
  font-size: 0.8em;
}



#about .inner img {
  margin: 20px 0;   
}

#about .inner .box div.link {
  text-align: left;   
}

#about .inner div.link {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 1.5em;  
  margin: 15px 0 35px 0; 
}

#about .inner div.link a {
  padding: 5px 10px;
  border: 1px solid #e1e1e1;   
}


/* END ABOUT PAGE STYLES */


/* TEST STYLES */

#testlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#testlist li {
  float: left;
  width: 225px;
  height:200px; 
  border: 1px solid #e1e1e1;
  background: #f6f6f6;
  padding: 0px;
  margin: 0 10px 10px 0;
  text-align: center;  
  position: relative;
}

#testlist li .chars {
  float: left;
  height: 40px;
  padding: 0px 5%;
  width: 90%;
  font-size: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#testlist li .pinyin {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 30px;
  margin: auto;
  padding: 70px 0 0 ;
  width: 100%;
  font-size: 15px;
}

#testlist li .meaning {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  height: 100%;
  width: 100%;
  display: none;
}

#testlist li .meaning table td {
   height: 180px;
   width: 210px;
   padding: 10px; 
   font-size: 12px;
}

#testlist li:hover .meaning {
  display: inline-block;
  cursor: pointer;   
}


.test_item {
    display: none;
}

.test_item:last-child {
    display: inline-block;  
}

.test_item h3 {
  font-size: 20px;
  float: left;
  text-align: left;
  width: 100%;
  margin: 0 0 10px 0;   
}

.test_item .chars {
    font-size: 5em;
    margin: 20px 0 0px 0;
}

.test_item p.help {
  font-size: 0.7em;
  color: #999;
}

.test_item .item {
  position: relative;
}

.test_item .pinyin {
  background: #f9f9f9;   
}

.test_item .pinyin input[type="text"] {
  background: #f9f9f9;
  font-size: 1.4em;
  border: none;
  background: transparent;
  line-height: 1.4em;
}

.test_item .pinyin ::


.test_item div.item > div:last-child td {
  border-bottom: none;   
}

.test_item div.item div:first-child td {
  padding-top: 0;   
}


.test_item .item .meaning {
  height: 100%;
  border-left: 10px solid transparent;
}

.test_item .meaning label {
  position: relative;
  position: relative;
  font-size: 0.8em; 
  color: #c1c1c1;
  padding-left: 13%;
}


.test_item .meaning:not(#foo) > input[type="radio"] {
    opacity: 0;
    position: absolute;   
}

.test_item .meaning:not(#foo) > label:hover {
    cursor: pointer;
    background: #f9f9f9;   
}

.test_item .meaning:not(#foo) > input[type="radio"] + label {
    background: #fff;
}

.test_item .meaning:not(#foo) > input[type="radio"] + label:hover {
    color: #555;
}

.test_item .meaning:not(#foo) > input[type="radio"]:checked + label {
  background: #f9f9f9;
  color: #333;    
}

.test_item .meaning:not(#foo) > input[type="radio"]:checked + label:before {
  content: " ";
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 15px;
  background: #2772b2;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 5px;
  z-index: 10;
}

/* END TEST STYLES */


/*  ARTICLE LONG PAGE STYLES */


#wordlist {
    background: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#wordlist li {
  border-bottom: 1px dashed #e1e1e1;
  position: relative;
  color: #E55C12; 
  position: relative;
  min-width: 100%;
}

#wordlist li:first-child {
}

#wordlist li.head {
  font-size: 0.7em;
  text-transform: uppercase;
  background: #2772b2;
  color: #fff;
  border-bottom: none;   
}

#wordlist li.head a {
  color: #fff;
  text-decoration: underline;   
}


.wrapper .line span.black {
  color: #333;   
}

.wrapper:before {
    background: none;
    content: " ";
    height: 30px;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -15px;
    width: 30px;
}

.wrapper:hover:before {
  display: block; 
  background: #fff;  
}

.wrapper:hover {
  cursor: pointer;
}


#wordlist .wrapper:last-child:hover {
  border-bottom: 1px solid #e1e1e1;   
}


.wrapper span.next {
    color: #E7ECEE;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -15px;
    text-shadow: none;
    font-size: 21px;
}

.wrapper:hover span.next {
  cursor: pointer;
  color: #E55C12;   
}

#wordlist .chars {
  color: #333333;
  font-size: 1.3em;
}

#wordlist .pinyin, #wordlist .meaning {
  position: relative;
}

#wordlist .pinyin {
  text-transform: lowercase;
  top: 3px;
}

#wordlist .meaning {
  color: #777777;
  font-size: 0.8em;
  padding-top: 0.5em;
}

#wordlist .en .english {
   color: #555;
   float: left;
   width: 400px;   
}

#wordlist .en .chinese {
   float: left;
   width: 200px;
}

#wordlist .en .pinyin {
   float: left;
   width: 200px;
   left: 0;    
}

#previous-searches #wordlist .chars, #previous-searches #wordlist .pinyin, #previous-searches #wordlist .meaning {
  font-size: 14px;
  color: #666;
  height: auto;    
}

/* END WORDLIST STYLES */

/* START TESTLIST STYLES */

#wordlist.test li:first-child {
  border-top: 1px dashed #e1e1e1;   
}

#wordlist.test .chars {
  color: #c1c1c1;   
}

#wordlist.test .pinyin {
  color: #c1c1c1; 
}

#wordlist.test .note {
  font-size: 0.6em;
  color: #D30000;
  position: relative;
}

#wordlist.test li {
  opacity: 0.5;   
}

#wordlist.test li:first-child, #wordlist.test li:hover {
  opacity: 1;   
}

#wordlist.test li:first-child .chars, #wordlist.test li:hover .chars {
  color: #333;
}

#wordlist.test li:first-child .pinyin, #wordlist.test li:hover .pinyin {
  color: #2772b2;
}



#wordlist.test a.action {
    background: none repeat scroll 0 0 #e1e1e1;
    border-radius: 15px;
    bottom: 0;
    display: block;
    height: 37px;
    margin: auto 0;
    position: absolute;
    right: 10px;
    top: 0;
    width: 37px;
    z-index: 1000;
}


#wordlist.test a.action:hover {
  background: #2772b2;   
}

#wordlist.test a.action.exchange {
    background: url("/static/images/sprite.png") no-repeat scroll -48px 0 transparent;
    height: 20px;
    right: 55px;
    width: 22px;
}

#wordlist.test a.action.exchange:hover {
  background-position: -68px 0;
}

#wordlist.test a.action.okay {
  background: url('/static/images/sprite.png') no-repeat scroll 0 -21px transparent;   
}

#wordlist.test a.action.okay:hover {
  background-position: -37px -21px;   
}

#wordlist.test a.action span {
  position: absolute;
  top: -6px;
  left: 3px;
  font-weight: normal;
  font-size: 20px;
  color: #c1c1c1;
}

#wordlist.test a.action:hover span {
  color: #fff;   
}

/* END TESTLIST STYLES */



/* START OF TEXT STYLES */

.word {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

.word .char {
    color: #333333;
    font-size: 26px;
    line-height: 1em;
    margin: 0 0 5px;
    padding: 0;
    text-align: center;
    text-shadow: 1px 2px 0 #FFFFFF;
    width: 100%;
}

.word .pinyin {
    display: none;
    padding-top: 5px;
    font-size: 12px;
    text-shadow: none;
    line-height: 1em; 
    text-transform: lowercase;
    font-style: italic;
    font-family: Georgia, serif;
    width: 100%;
    text-align: center;
}


.word.selected .pinyin, .word.selected .char {
    color: #DD7238;
}

.word:hover .pinyin, .word:hover .char {
  color: #E55C12;  
}

.word:hover {
  cursor: pointer;  
}


body.font2, body.font2 .char, #head ul a.font2, body.font2 #lookups div span.title, body.font2 h1, body.font2 #editable .chars {
  font-family: Georgia,"STSong", 华文宋体, sans-serif; 
}

body.font3, body.font3 .char, #head ul a.font3, body.font3 #lookups div span.title, body.font3 h1, body.font3 #editable .chars {
  font-family: Georgia,"STFangsong", 华文仿宋, sans-serif; 
}

body.font4, body.font4 .char, #head ul a.font4, body.font4 #lookups div span.title, body.font4 h1, body.font4 #editable .chars {
  font-family: Georgia,"STHeiti", 华文黑体, sans-serif; 
}

.punctuation {
  margin: 0px; 
  width: auto;  
}


/* EASY TEXT STYLES */

.easy .word {
  height: 30px; 
  margin: 0 0 30px 0;    
}

.easy.pinyin .word {
  margin: 0 0 50px 0;   
}

.easy .word .char {
    font-size: 30px;
    letter-spacing: 0.3em;
    line-height: 1em;
    margin: 0;
}

.easy .word.english .char, .easy .word.punctuation .char, .easy .word.number .char {
    font-size: 20px;
    letter-spacing: 0;
    position: relative;
    top: 5px;
}

.easy .word .pinyin {
    font-size: 14px;
    left: 0;
    letter-spacing: 0;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    top: 24px;
}


/* GROUPED TEXT STYLES */

.grouped .word {
  margin-right: 30px;  
}

.grouped .word .char {
  letter-spacing: 0em;   
}

.grouped .word.english {
  margin-right: 10px;
  margin-left: 10px;  
}

.grouped .word.number {
  margin-right: 30px;   
}

.grouped .word.punctuation {
  margin-right: 0; 
  position: relative;
}



h1 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 0 0 0.6em;
    line-height: 1.4em;
}

div.hero {
  position: relative;
  top: 200px;
  line-height: 1.6em;
}

.hero h1 {
  font-size: 3em;
  margin: 0   
}

h1 span.big {
  font-size: 1.3em;   
}

h2 {
   font-size: 1.4em;
   font-weight: normal; 
   margin: 0.2em 0 0.6em;  
}

h2 span.big {
  font-size: 44px;   
}

h3 {
    font-size: 22px;
    font-weight: normal;
    margin: 10px 0;
}

h3 span.arrow {
  font-size: 16px;
  margin: 0 10px;
}

h3 span.this {
  font-weight: normal;
  color: #333;
  font-size: 14px;
}



/* flatpage about us styles */

.text {
  line-height: 1.6em;   
}

.text p, p {
  margin: 0px 0 15px;   
}

.text p.big, p.big {
   font-size: 1.8em;
}

.text h3 {
  font-size: 1em;
  margin: 1em 0 0em;
  color: #000;   
}

.text ul, .text ol {
  margin-bottom: 20px;
  font-size: 0.8em;
  color: #666;
}

.text .explain {
  width: 100%;
  float: left;
  margin: 10px 0 20px 0;   
}


.text .button:hover {
  box-shadow: 0 0px 5px #444;   
}

.text .guide {
  font-size: 12px;
  font-style: italic;
  position: relative;
  width: 200px;
  float: left;
  left: 30px;
  top: 40px;   
}

#login {
}

#login form label {
  display: none;
}

#login form input {
}

#login form input[type="submit"] {

}

/* SINGLE WORD LOOKUP STYLES */

#word .buttons button {
  font-size: 0.8em;   
}

#single {

}

#single #chars {
  font-size: 4em;
}

#single #chars a {
}

#single #chars a:hover {
  color: #E55C12;
  text-decoration: none;
  cursor: pointer;   
}

#single .pinyin {
   font-size: 1.4em;
}

#single .meaning {
  font-size: 1.4em;
  color: #666;
}

#single .meaning .example {
  list-style-type: none;
  background: #ebf3f9;
  padding: 0;
  color: #1f4a6f;
  font-size: 0.8em;
}






