html {
  border: none;
  margin: none;
  padding: none;	
}

input, textarea, body {
  font-family: Georgia, serif;
  background-color: #fff;  
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  position: relative;
  font-size: 13px;
  line-height: normal;
  background: #fdfdfa; /* url('/images/back.jpg'); */
}

a:link, a:visited {
  text-decoration: underline;
  color: #D68585;   
}

a:hover, a:active {
   #C10000;
}


.centred {
  width: 800px;
  position: relative;
  left: -400px;
  margin-left: 50%;
  float: left;
}

#header {
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
  margin-top: 20px;   
}

#header a {
  float: left;
  padding: 0 10px; 
  color: #666; 
  text-decoration: none; 
}

#header a:hover {
  text-decoration: underline;
  color: #444;   
}

#header a:first-child {
  padding: 0 10px 0 0;   
}


/* forms */

input.submit:hover {
  cursor: pointer;   
}

form {
 float: left;
 width: 100%;
 text-align: center;  
 margin: 0px 0 10px 0;
 display: ; 
}

textarea {
 width: 700px;   
 -moz-box-sizing: content-box;
 border: 1px solid #E4E4E4;
 border-radius: 4px 4px 4px 4px;
 font-size: 32px;
 padding: 10px;
 font-family: "Times New Roman", serif;
}





/* toolbar */

#tools, #userblock {
    height: 95%;
    padding: 2.5% 20px;
    position: absolute;
    top: 40px;
    width: 50px;
}

#tools {
 position: fixed;
 left: 0px;
 top: 0;
 width: 50px;
 padding: 60px 10px; 
}


#tools .set {
 float: left;
 width: 50px;
 margin: 0px;
 padding: 8px 0;
 opacity: 1; 
 position: relative;  
}


#tools .button, #bookmarklet {
  background: #f6f6f6;
  border: 1px solid #d1d1d1;
  font-size: 26px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  color: #E55C12;
  text-shadow: 1px 1px 0 #fff;
  height: auto;
  width: 20px;
  height: 20px;
  padding: 6px 6px 8px 8px; 
  float: left;  
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
    transition:  300ms;
    -moz-transition:  300ms; /* Firefox 4 */
    -moz-transition:  300ms; /* Firefox 4 */
    -webkit-transition:  300ms; /* Safari and Chrome */
    -o-transition:  300ms; /* Opera */ 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



#bookmarklet {
 text-decoration: none;   
}


/* userblock stuff */


#userblock {
  height: 100%;
  position: fixed;
  right: 40px;
  width: 200px;
  z-index: 20;
}

#userblock input {
 border: 1px solid #ECBDBD;
 padding: 5px;
 width: 100%;
 font-size: 14px;
}



#userblock div {
  width: 100%;  
  border-width: 0 0 1px 0;
  color: #fff;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 10px 10px 15px;
  color: #333;
  position: relative;
  opacity: 1;
}

#userblock div:first-child {
  border-top: 1px solid #e1e1e1;   
}

#userblock div.selected {
   opacity: 1;
   z-index: 3;   
}

#userblock div span.title, #userblock div span.editable {
  font-weight: normal;
  font-size: 20px;
  margin-right: 10px;  
}

#userblock div .pinyin {
  text-transform: lowercase;
  color: #E55C12;   
  font-size: 18px;
}

#userblock div span.editable {
  color: #333;  
}

#userblock div:hover {
  color: #c33636;
  background: #fff;
  cursor: pointer; 
  position: relative;
  left: -10px;
}

#userblock div a.add, #userblock div a.edit, #userblock div a.more {
  position: absolute;
  text-indent: -300em;
  height: 30px;
  width: 30px;
  padding: 0;
  display: none;
}

#userblock div a.add {
 top: 10px; 
 left: 0;  
}

#userblock div a.edit {
 top: 45px; 
 left: 0;  
}

#userblock div a.more {
  right: 0;
  top: 10px;
  height: 65px;   
}

#userblock div:hover a {
 display: block;   
}

/* displays the pop-up boxes in the userblock or tools section */

.extra, #userblock div.extra {
  position: absolute;
  border: 1px solid #c1c1c1;
  display: none;
  background: #fff;
  color: #333;
  padding: 15px 20px;
  z-index: 20;
}

#userblock div.extra {
  left: -330px;
  width: 250px;
  height: 200px;
  top: -35px;   
}

#head .extra {
    font-family: Georgia,serif;
    height: auto;
    top: 40px;
    width: 100%;
}

#head .extra div {
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
  float: left;
  width: 48%;
  margin-right: 2%;   
}

#head .extra div:last-child {
   border-bottom: none;
   margin-bottom: 0;   
}

#head .extra h4 {
  margin: 0; 
  font-family: Helvetica, Arial, sans-serif;  
}

#head .extra ul {
    font-size: 20px;
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}

#head .extra ul li {
   float: left;
   background: #FDFDFA;
   margin: 0 10px 0 0;   
}

#head .extra a {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #C1C1C1;
    color: #333333;
    padding: 5px;
    text-decoration: none;
}

#head .extra #fonts a:hover {
  color: #333;
  box-shadow: 0 0px 5px #c1c1c1;
  border: 1px solid #c1c1c1;
  background: #fff;
}

#head .extra #fonts a.selected {
  color: #E55C12;   
}

#head .extra #colors a:hover {
  border: 3px solid #666;
}

.selected .extra, #userblock .selected div.extra  {
  display: block;
  opacity: 1;
}

#head .extra #colors a {
  padding: 2px;
  border: 3px solid #fff;
  box-shadow: 0 0 1px #999;
  height: 25px;
  width: 25px;
  float: left;   
}

#colors a.color1 {
  background: #fff;
}

body.color1 .hanzi {
  color: #333;   
}

body.color1 {
  background: #fff;   
}

#colors a.color2 {
  background: #f6f4ed;   
}

body.color2 .hanzi {
  color: #5b4a2e;   
}

body.color2 {
  background: #f6f4ed;   
}

body.color2 #tools {
  background: #e9e5d6;
  box-shadow: 1px 0 0 #fff;   
}

#colors a.color3 {
  background: #3d4d66;   
}

body.color3 {
  background: #3d4d66; 
}

body.color3 #tools {
  background: #223554;
    
}

body.color3 .hanzi {
  color: #fff; 
  text-shadow: none;  
}

#colors a.color4 {
  background: #f2f5f9;   
}

body.color4 .hanzi {
  color: #444444;   
}

body.color4 {
  background: #f2f5f9;   
}

body.color4 #tools {
  background: #dbe3ee;
  box-shadow: 1px 0 0 #fff;
}


/* text formatting styles */


#page-nav {
   width: 100%;
   float: left;
   text-align: center; 
}

#page-nav span, #page-nav a {
    font-size: 22px;
    padding: 5px;
    text-decoration: none;
}

#page-nav a:link, #page-nav a:visited {
  color: #CF6161;   
}

#page-nav a:hover {
  text-decoration: underline;
     
}

#text, #previous-searches {
    padding: 0;
    text-shadow: 1px 1px 0 #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#text table tr, #previous-searches table tr {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;   
}

#text table tr:last-child {
  border-bottom: none;   
}

#previous-searches {
  margin-top: 20px;
  color: #666; 
  font-size: 14px;  
}

#text table td, #previous-searches table td {
  width: auto;
  padding: 15px 20px;
  border-bottom: 1px solid #e1e1e1;
  width: 120px; 
}

#text table td.pinyin, #text.easy table td.pinyin {
  text-transform: lowercase;
  color: #E55C12;
  font-size: 20px;
}

#previous-searches table td.pinyin {
  color: #666;  
 }

#text table tr td:first-child {
  width: 90px;
  color: #5e4313;
  text-shadow: 1px 2px 0 #fff;
  font-size: 24px; 
}

#previous-searches table td:first-child {
  color: #666;
  font-size: 18px; 
  width: 90px;  
}

#text table tr td:last-child, #previous-searches table td:last-child {
  width: 500px;  
}



.word {
  float: left;
  padding: 0px 0px;
  height: 50px;
  margin: 0; 
  display: block; 
  position: relative;
  width: auto;
}

.char {
 float: left; 
 margin: 0px;
 padding: 0;
 text-align: center; 
 width: 50px; 
}

.punctuation .char {
  margin: 0px; 
}

#text .char.number {
 color: #333;
 font-size: 16px; 
 width: auto;
 padding: 0; 
}

#text .word.selected .pinyin, #text .word.selected .hanzi {
  color: #b1531f;   
}


#text .word:hover .pinyin, #text .word:hover .hanzi {
  color: #C33636;  
}

#text .word:hover {
  cursor: pointer;  
}

.word.select .hanzi {
   color: red;   
}

.char .hanzi {
  font-size: 26px;
  line-height: 1em;
  float: left;
  margin: 0 0 5px 0;
  display: block;
  font-family: "STKaiti",华文楷体;
  color: #444;
  text-shadow: 1px 2px 0 #fff;
  width: 50px;
}

.char .pinyin {
    color: #E55C12;
    display: none;
    float: left;
    font-size: 12px;
    text-shadow: none;
    line-height: 1em; 
    text-transform: lowercase;
    font-style: italic;
    font-family: Georgia, serif;
    width: 50px;
}

.grouped .char, .grouped .char .hanzi, .grouped .char .pinyin {
  width: 40px;   
}

.punctuation .char .hanzi, .punctuation .char {
  width: 20px;
}

.punctuation.english .char .hanzi, .punctuation.english .char {
  width: auto;   
}

.number .char .hanzi, .number .char {
  min-width: 50px;
  width: auto; 
}


body.font1 .char .hanzi, #head ul a.font1, body.font1 #userblock div span.title {
  font-family: "STKaiti",华文楷体;  
}

body.font2 .char .hanzi, #head ul a.font2, body.font2 #userblock div span.title {
  font-family: "STSong", 华文宋体; 
}

body.font3 .char .hanzi, #head ul a.font3, body.font3 #userblock div span.title {
  font-family: "STFangsong", 华文仿宋; 
}

body.font4 .char .hanzi, #head ul a.font4, body.font4 #userblock div span.title {
  font-family: "STHeiti", 华文黑体; 
}


.easy .word, .easy .char.number, .easy .punctuation {
   height: 60px; 
   margin: 0 0 20px 0;
}

.grouped .word {
  margin-right: 30px;   
}

.grouped .word.punctuation {
  margin-right: 0; 
  position: relative;
  left: -30px;  
}

.easy .english, .grouped .word.english {
  margin-right: 15px;
}

.grouped .word.english {
  left: -30px;   
}

.grouped .word.number {
  margin-right: 30px;   
}

#text.easy .hanzi {
  margin: 0 0 0px 0; 
  line-height: 1em;
  font-size: 40px; 
}

#text.easy .pinyin {
  font-size: 15px;
}

h1 {
 margin: 0 0 30px 0;   
}

#head {
    border-bottom: 1px solid #E1E1E1;
    float: left;
    padding: 0 0 20px;
    margin-bottom: 30px;
}

#appearance {
  position: relative;   
}

#original-page, #appearance .button, #group .button, #pinyin .button {
    background: none repeat scroll 0 0 #f6f6f6;
    color: #E55C12;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    padding: 9px 10px 5px 10px;
    text-decoration: none;
    text-shadow: none;
    position: relative;
    border: 1px solid #D1D1D1;
    text-transform: uppercase;
    margin: 0 0px 0 8px;
    float: left;
}

#appearance.selected .button {
  background: #fff;   
  position: relative;
  top: -5px;
  padding-top: 14px;
}

#original-page:hover, #appearance .button:hover, #group .button:hover, #pinyin .button:hover {
  cursor: pointer;
  color: #c44500;  
}

#original-page:before {
    border-color: transparent #F6F6F6;
    border-style: solid solid solid none;
    border-width: 15px 15px 15px 0;
    content: " ";
    display: block;
    height: 0;
    left: -15px;
    position: absolute;
    top: -1px;
    width: 0;
    z-index: 10;
}

#original-page:after {
    border-color: transparent #c1c1c1;
    border-style: solid solid solid none;
    border-width: 16px 16px 16px 0;
    content: " ";
    display: block;
    height: 0;
    left: -16px;
    position: absolute;
    top: -2px;
    width: 0;
    z-index: 9;
}

#appearance.selected .extra:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C1C1C1;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    content: " ";
    display: block;
    height: 11px;
    left: 147px;
    position: absolute;
    top: -11px;
    width: 68px;
    z-index: 10;
}

