<ul id="wordlist" class="pure-g" >
    <li class="wrapper pure-u-1 all-pad">
        {% if request.user.is_authenticated %}
        <a data-pjax href="{% url 'page' 'beta-test-welcome' %}" >Need help? Click here &raquo;</a>
        {% else %}
        <a data-pjax href="{% url 'page' 'beta-test-welcome' %}" >First time? Start by clicking here &raquo;</a>
        {% endif %}
    </li>
    <li class="pure-u-1 all-pad">&nbsp;</li>
    <li class="pure-u-1 all-pad">&nbsp;</li>
    <li class="pure-u-1 all-pad">&nbsp;</li>
    <li class="pure-u-1 all-pad">&nbsp;</li>
</ul>