{% load link_chars %}

<ul class="actions centred">
    <li class="">
        <a href="" data-pjax>
            <div class="line">
                See examples of <span class="black">{% for x in chars %}{{ x }}{% endfor %}</span>
            </div>
        </a>
    </li>
    <li class="">
        <a href="{% url search_beginning_with word.chars %}" data-pjax>
        <div class="line">
            See words beginning with <span class="black">{% for x in chars %}{{ x }}{% endfor %}</span>
        </div>
        </a>
    </li>
    <li class="">
        <a href="{% url search_contains word.chars %}" data-pjax>
        <div class="line">
            See words containing <span class="black">{% for x in chars %}{{ x }}{% endfor %}</span>
        </div>
        </a>
    </li>
</ul>

<div id="word" class="centred">
    <div id="single">
        <div id="chars">
            {% for x in chars %}
                <a href="{% url single_word x %}" data-pjax class="single">
                    <span class="chars">{{ x }}</span>
                </a>
                <span class="pinyin">{{ x.pinyin }}</span>
            {% endfor %}
        </div>
        
        <table>
            <tr class="line">
                <td valign="top" class="pinyin">{{ word.pinyin1 }}</td>
                <td valign="top" class="meaning">{{ word.meaning1|link_chars|safe }}</td>
            </tr>
        
        {% if word.meaning2 %}
          <tr class="line">
                <td valign="top" class="pinyin">{{ word.pinyin2 }}</td>
                <td valign="top" class="meaning">{{ word.meaning2|link_chars|safe }}</td>
            </tr>
        {% endif %}
        {% if word.meaning3 %}
          <tr class="line">
                <td valign="top" class="pinyin">{{ word.pinyin3 }}</td>
                <td valign="top" class="meaning">{{ word.meaning3|link_chars|safe }}</td>
            </tr>
        {% endif %}
        </table>
    </div>
</div>


