{% load link_chars %}

<div id="word" class="centred">
    <div id="single">
        <div id="chars">
            {% for x in word.chars %}
                <a href="{% url 'single_word' x %}" data-pjax class="single">
                    <span class="chars">{{ x }}</span>
                </a>
            {% endfor %}
        </div>
        
        
        {% for m in word.meanings %}
            <div class="pinyin">
                {{ m.pinyin }}
            </div>
            
            <div class="meaning">
                {{ m.meaning|link_chars|safe }}
            </div>
        
        {% endfor %}

    </div>
</div>

<hr class="centred"/>

<div class="centred">
    
    <div class="tabs">
        
        <a class="tab selected" href="{% url 'search_starts_with' word.chars %}" data-pjax>
            Words beginning with <span class="black">{% for x in chars %}{{ x }}{% endfor %}</span>
        </a>
        
        <a class="tab" href="{% url 'search_contains' word.chars %}" data-pjax>
            Words containing <span class="black">{% for x in chars %}{{ x }}{% endfor %}</span>
        </a>
        
        <a class="tab" href="" data-pjax>
            Examples of <span class="black">{% for x in chars %}{{ x }}{% endfor %}</span>
        </div>
        
    </div>

    <div class="panel">
    
        
    
    </div>
</div>



