{% load link_chars convert_backslashes %}

{% if not request.user.is_authenticated %}
    <ul id="wordlist" class="pure-u-1">
    <li class="head all-pad">Learn this word faster - <a href="{% url 'auth_login' %}">Login</a> or <a href="{% url 'registration_register' %}">register</a></li>
    </ul>
    {% endif %}

<div id="word" class="pure-u-1 all-pad">
    
    
    
    
    <div id="single">
        
        <div id="chars">
            {% for x in word.chars %}
                <a href="{% url 'single_word' x %}" data-pjax class="single">
                    <span class="chars">{{ x }}</span>
                </a>
            {% endfor %}
        </div>
        
        <hr/>
        
        {% for m in word.meanings %}
            <div class="pinyin">
                <em>{{ m.pinyin }}</em>
            </div>
           
            <hr/>
                        
            <div class="meaning">
                {{ m.meaning|convert_backslashes|link_chars|safe }}
            
            {% if m.measure_words %}
            <ul class="example pure-g">
                <li class="pure-u-1 all-pad">Measure words: <br/>
                {% for x in m.measure_words %}
                    一<strong>{{ x }}</strong>{{ word.chars }} {% if not forloop.last %}/{% endif %} 
                {% endfor %}
                </li>
            </ul>
            {% endif %}
            
            </div> 
            
            {% if not forloop.last %}
            <hr/>           
            {% endif %}
        {% endfor %}
    </div>

<hr/>

{% if word.starts_with %}
<ul id="wordlist" class="pure-u-1">
    <li class="head pure-u-1 all-pad">Words starting with {{ word.chars }}</li>
    {% for x in word.starts_with %}
        
        <li class="wrapper pure-u-1 t-pad b-pad">
            <a data-pjax href="{% url 'single_word' x %}" class="pure-g">
                <div class="chars pure-u">{{ x }}</div>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if word.contains %}
<ul id="wordlist" class="pure-u-1">
    <li class="head pure-u-1 all-pad">Words containing {{ word.chars }}</li>
    {% for x in word.contains %}
        <li class="wrapper pure-u-1 t-pad b-pad">
            <a data-pjax href="{% url 'single_word' x %}" class="pure-g">
                <div class="chars pure-u">{{ x }}</div>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endif %}    

</div>



