{% load link_chars %}

<div id="word" class="centred">
    <div id="single">
        <div id="chars">
            {% for x in chars %}
                <a href="{% url single_word x %}" data-pjax class="single">
                    <span class="chars">{{ x }}</span>
                </a>
            {% endfor %}
        </div>
        
        <table>
            <tr class="line">
                <td valign="top" class="pinyin">{{ word.pinyin1 }}</td>
                <td valign="top" class="meaning">{{ word.meaning1|link_chars|safe }}</td>
            </tr>
        
        {% if word.meaning2 %}
          <tr class="line">
                <td valign="top" class="pinyin">{{ word.pinyin2 }}</td>
                <td valign="top" class="meaning">{{ word.meaning2|link_chars|safe }}</td>
            </tr>
        {% endif %}
        {% if word.meaning3 %}
          <tr class="line">
                <td valign="top" class="pinyin">{{ word.pinyin3 }}</td>
                <td valign="top" class="meaning">{{ word.meaning3|link_chars|safe }}</td>
            </tr>
        {% endif %}
        </table>
    </div>
</div>

<ul id="wordlist" class="centred">
    <li class="wrapper" href="">
        <span class="next">&#9658;</span>
        <div class="line">
            Get examples of <span class="black">{% for x in chars %}{{ x }}{% endfor %}</span>
        </div>
    </li>
    <li class="wrapper" href="{% url search_beginning_with word.chars %}">
        <span class="next">&#9658;</span>
        <div class="line">
            Get words beginning with <span class="black">{% for x in chars %}{{ x }}{% endfor %}</span>
        </div>
    </li>
    <li class="wrapper" href="{% url search_contains word.chars %}">
        <span class="next">&#9658;</span>
        <div class="line">
            Get words containing <span class="black">{% for x in chars %}{{ x }}{% endfor %}</span>
        </div>
    </li>
</ul>
