{% load link_chars convert_backslashes %}

<div id="word" class="pure-u-1 all-pad">
    
    <div id="single">
        
        <div id="chars">
            {% for x in word.chars %}
                <a href="{% url 'single_word' x %}" data-pjax class="single">
                    <span class="chars">{{ x }}</span>
                </a>
            {% endfor %}
        </div>
        
        <hr/>
        
        {% for m in word.meanings %}
            <div class="pinyin">
                <em>{{ m.pinyin }}</em>
            </div>
           
            <hr/>
                        
            <div class="meaning">
                {{ m.meaning|convert_backslashes|link_chars|safe }}
            
            {% if m.measure_words %}
            <ul class="example pure-g">
                <li class="pure-u-1 all-pad">Measure words: <br/>
                {% for x in m.measure_words %}
                    一<strong>{{ x }}</strong>{{ word.chars }} {% if not forloop.last %}/{% endif %} 
                {% endfor %}
                </li>
            </ul>
            {% endif %}
            
            </div> 
            
            {% if not forloop.last %}
            <hr/>           
            {% endif %}
        {% endfor %}
    </div>

<hr/>

{% if word.starts_with %}
<ul id="wordlist">
{% for x in word.starts_with %}
    <li class="wrapper"></li>
{% endfor %}
</ul>
{% endif %}
 
<div class="buttons pure-g">

    <a href="{% url 'search_starts_with' word.chars %}" data-pjax class="small pure-u-1-3 all-pad button text-center">
        Starts with</a>
    
    <a href="{% url 'search_contains' word.chars %}" data-pjax class="small pure-u-1-3 all-pad button text-center">
        Contains</a>
            
    <a href="" data-pjax class="small all-pad button pure-u-1-3 text-center">
        Examples</a>

</div>
    

</div>



