{% load staticfiles compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta content="text/html" charset=utf-8" http-equiv="Content-Type" />
	<meta content="en-gb" http-equiv="Content-Language" />
	<meta content="{% block metadescription %}{% endblock %}" name="description" />
	
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">


	<title>{{ sitename }}</title>	
	
	
    <!-- STYLES -->
    {% compress css inline %}
    <link rel="stylesheet" href="{% static 'css/pure-grids-combo.0.5.0.css' %}">    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% endcompress %}
    {% block extracss %}{% endblock %}
	<link rel='shortcut icon' href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
	<!-- / STYLES -->
	

</head>




<body class="pure-g">

    <img id="loading" src="{% static 'images/loading.gif' %}"/>

    <nav id="menu" style="display: none;" class="pure-u-1">
        
        <ul class="pure-u-1">    
            <li class="pure-g">
                <a href="/" class="pure-u-1 all-pad" alt="home link" title="Home - {{ sitename }}" data-ajax>
                Home</a>
            </li>
        
        {% url 'user' as user_url %}
        {% url 'page' 'about' as about_url %}
            <li class="pure-g">
                <a href="{{ about_url }}" title="about" class="pure-u-1 all-pad {% if about_url in request.path %}selected{% endif %}" data-ajax>About</a></li>
        
        
        {% if user.is_authenticated %}
            <li class="pure-g"><a href="{{ user_url }}" class="pure-u-1 all-pad {% if user_url in request.path %}selected{% endif %}">
            Your account
            </a></li>
        {% else %}
            {% url 'auth_login' as login_url %}
            <li class="pure-g"><a id="login_link" href="{{ login_url }}" class="pure-u-1 all-pad {% if login_url in request.path %}selected{% endif %}" data-ajax>Login</a> </li>
            {% url 'registration_register' as register_url %}
            <li class="pure-u-1"><a id="register_link" href="{{ register_url }}" class="pure-u-1 all-pad {% if register_url in request.path %}selected{% endif %}" data-ajax>Register</a></li>
        {% endif %}
        </ul>
    
    </nav>

    <div id="header" class="pure-u-1">
    
        <div class="pure-g">
        
            <!-- LEFT MENU ICON -->
            <div class="pure-u-4-24 all-pad text-center" id="menu">
                <button class="menu-trigger"></button>
            </div>
            <!-- END -->
        
        
            <!-- MAIN SEARCH BOX -->
            <form id="search" data-pjax action="{% url 'search' %}" method="post" class="pure-u-16-24">
                                    
                {% csrf_token %}
                <div id="form-inner" class="pure-g">
                    <label for="id_char"></label>
                    <input type="search" id="id_char" class="pure-u-1 all-pad" title="Search for a Chinese word" name="char" placeholder="Search for a Chinese word" >
                    <button type="submit" value="Go" id="submit" class="pure-u-2-24 all-pad">Search</button>
                </div>
            </form>
            <!-- END -->
            
            
            <!-- RIGHT FLEXIBLE ICON -->
            <div class="pure-u-4-24 all-pad text-center" id="">
                {% if request.path == '' %}
                    <button class="help"></button>
                {% endif %}
            </div>
            <!-- END -->
        
        
        </div>
    
    </div>
        
    <div id="container" class="pure-g"> 
        {% block content %}{% endblock %}        
    </div>
    
    
  
    <!-- JAVASCRIPT -->
	{% compress js inline %}
	<script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.pjax.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/mobile/slideoutMenu.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-pinyin-converter.js' %}"></script>
    
	<script type="text/javascript">


		$(document).ready( function() {
            
            
            /// SLIDEOUT MENU ON MOBILE
            var jPM = $.jPanelMenu({
                duration: 150,    
            });
            jPM.on();

            /// ASSIGN VARIOUS CLASSES BASED ON LOCATION
            var noHeaderURLs = [];
            noHeaderURLs.push("{% url 'home' %}");
            
            function isInArray(value, array) {
              return array.indexOf(value) > -1;
            }       
            
            function checkHeader() {
            	
            	$('#header').removeClass('home');
            	
            	if ( isInArray(window.location.pathname, noHeaderURLs) ) {
            	   $('#header').addClass('home');  
            	} else {
                    /// do something else
            	}
            }
            
            $('input#id_char').pinyin();
            $('input.pinyin').pinyin();
            
            
            
            /// HANDLES SELECTING NAVIGATION LINKS WHEN DONE WITH PJAX
            $('#header a').click( function() {
               $('#header a').removeClass('selected');               
               $(this).addClass('selected');               
            });
                        
                                      
            /// BINDS THE SEARCH FORM TO PJAX        
            $(document).on('submit', '#header form[data-pjax]', function(event) {
                              
               if ($('#id_char').val() == '') {
                    /// HANDLES AN EMPTY SEARCH
                    var url = '/search/';
                    $.pjax({url: url, container: '#container'});
                    
               } else {               
                   /// CONVERT THE FORM INTO A GET REQUEST 
                   var string = $('#id_char').val().split(' ').join('_')
                   var url = '/search/' + string + '/';  
                   $.pjax({url: url, container: '#container'});
               };
               
               /// ADD THIS WORD TO THE WORDLIST?
               return false;

            });
              
                                      
            /// ACTIONS WHEN PJAX SENDS
            $(document).on('pjax:send', function() {
              $('#container').fadeOut(150);
              $('#loading').show();
              checkHeader();
              jPM.close();
            });
            
            // ACTIONS WHEN PJAX IS FINISHED (REGARDLESS OF OUTCOME)
            $(document).on('pjax:complete', function() {
              
              $('input#id_char').select();
              $('input.pinyin').pinyin();
            });
            
            /// ACTIONS AFTER PJAX HAS LOADED THE CONTENT IN THE PAGE
            $(document).on('pjax:success', function() {
                $('#loading').hide();
                $('#container').fadeIn(100);
            });
            
            /// USED FOR THE BACK/FORWARDS CLICKS OR SWIPES
            window.onpopstate = function(event) {   
            	checkHeader();
        	}
            
            /// BIND VARIOUS LINK TO PJAX
            $(document).pjax('a, a[data-pjax]', '#container');
            
            /// HELPS AVOID FREQUENT ABORTS CAUSED BY PJAX'S LOW DEFAULT TIMEOUT
            $(document).on('pjax:timeout', function(event) {
              // Prevent default timeout redirection behavior
              event.preventDefault()
            })
            
                        
            /// HANDLES SUBMITTING A TEST QUESTION VIA AJAX
            $('form.test').submit( function() {
                var thisForm = $(this);
                
                $.ajax({
                    url: thisForm.attr('action'),
                    data: thisForm.serialize(),
                    type: 'POST',
                    success: function(status) {
                        thisForm.parents('div.test_item').slideUp(300, function() {
                            thisForm.parents('div.test_item').remove();   
                        });
                    },
                });
                
                return false;
                
            });
            
            $('.test a.skip').click( function() {
                
                var thisItem = $(this).parents('div.test_item');
                thisItem.slideUp(300, function() {
                    thisItem.remove();   
                });
                return false; 
            });

            
            /// TEST STUFF
            $('.test_item a.next').click( function() {
                
                $(this).parent('div.pinyin').slideUp(100);
                $(this).parent('.pinyin').next('div').show();
                               
                return false; 
            });

            
            

            checkHeader();
                      
		});
		
	</script>
	{% endcompress %}
	
    {% block extrajs %}{% endblock %}	

</body>

</html>
