
<div class="pure-u-1 all-pad" id="account">
    
    <div class="section pure-g">
        <div class="title pure-u-2-5">
            Test
            {% if request.user.get_test_items %}
                <span class="notification">{{ request.user.get_test_items|length }}</span>
            {% endif %}
        </div>
        <div class="inner pure-u-3-5">
            {% if request.user.get_test_items %}
                You have {{ request.user.get_test_items|length }} items ready to test now - <a href="{% url 'test' %}">start test</a>
            {% else %}
                You don't have anything to test now
            {% endif %}
        </div>
    </div> 
        
    <div class="section pure-g">
        
        <div class="title pure-u-2-5">
            Review
            {% if request.user.get_review_items %}
                <span class="notification">{{ request.user.get_review_items|length }}</span>
            {% endif %}
        </div>
        <div class="inner pure-u-3-5"> 
            {% if request.user.get_review_items %}
                You have items ready to review now - <a href="{% url 'review_new' %}">start review</a>
            {% else %}
                You don't have anything to review now
            {% endif %}       
        </div>
    </div>
        
    <div class="section pure-g">
        <div class="title pure-u-2-5">Wordlist </div>
        <div class="inner pure-u-3-5"><a href="{% url 'view_wordlist' %}">View all the words you've looked up</a></div>
    </div>
        
    <div class="section pure-g" id="settings">
        <div class="title pure-u-2-5">Settings</div>
        <div class="inner pure-u-3-5">
            <ul>
                <li>Logged in as {{ user.email }} - <a href="{% url 'auth_logout' %}" class="red">logout</a></li>
                <li>Joined on {{ user.date_joined }}</li>
                    
                <li>Test items limit : {{ user.test_items_limit }} items</li>
                <li>Interval : {{ user.review_interval }} days</li>
            </ul>
        </div>
    </div>    
        
</div>