{% extends "base.html" %}
{% load django_static %}

{% block aboutselected %}selected{% endblock %}

{% block metadescription %}{% include 'flatpages/about/metadata.html' %}{% endblock %}

{% block pagetitle %}{{ flatpage.title }}{% endblock %}

{% block extracss %}
<style type="text/css">

div.tea {
  float: left;
  width: 220px;	
  margin-bottom: 15px;
}

div.tea div.tea-image {
  float: left;
  margin-right: 10px;	
}

div.tea div.tea-image img {
  border-radius: 5px;	
  margin-bottom: 0px;
}

div.tea div.tea-text {
  float: left;
  width: 130px;
  font-size: 13px;
  color:#666;
}

div#main-text-wide div#right div.social {
  float: left;
  margin-left: 0px;

}

div#main-text-wide div#right div.social p {
	  font-size: 11px;
}

div.social img {
  margin-right: 5px;	
}

div.flatpage div#right div.social p {
  font-size: 11px;	
  line-height: 14px;
}

span.review {
  color: #333;	
}

div.about-right {
    float: left;
    padding-bottom: 20px;
    width: 241px;
    margin: 40px 0 20px 0;
    background-color: #38a267;
    border-radius: 0 0 10px 10px;
}

div.about-right img {
  border: 2px solid #fff;	
}

div.about-right img.top {
    margin-top: -100px;
    position: relative;
    border: none;
}

div#right div.about-right p.mail {
  color: #fff;
  margin-left: 15px;
  float: left;
  width: 210px;	
}

div#right div.about-right p.mail a {
  color: #fff;	
}

</style>
{% endblock %}

{% block content %}

<div id="banner">
  <div class="super">
  <h1>{{ flatpage.title }}</h1>
  </div>
</div>

<div id="main-text-wide">
  <div class="super">
	<div id="right">	
  		{% block right %}
  			
  			{% include 'flatpages/about_navigation.html' %}
  			{% include 'flatpages/about_right.html' %}

  		{% endblock %}
	</div>

	<div id="left">
		{{ flatpage.content }}
	</div>

		
  </div>
</div>


{% endblock %}
