{% load nav_selected %}
{% load django_static %}

	<ul id="right-nav">
		  <li><a class="{% nav_selected request '/about/our-story/' %}" href="/about/our-story/">Our story</a></li>
		  <li><a class="{% nav_selected request '/about/our-teas/' %}" href="/about/our-teas/">About our teas</a></li>
  		  <li><a class="{% nav_selected request '/about/the-founder/' %}" href="/about/the-founder/">More about the founder</a></li>
		  <li><a class="{% nav_selected request '/about/wholesale/' %}" href="/about/wholesale/">Wholesale</a></li>
		  <li><a class="{% nav_selected request '/about/personal-tea-shopping/' %}" href="/about/personal-tea-shopping/">Personal tea shopping</a></li>
		  <li><a class="{% nav_selected request '/contact-us/' %}" href="/contact-us/">Contact us</a></li>
	</ul>


		<div class="info">	
			<p class="quote">
				<em>&ldquo;My eyes are well and truly opened. The Iron Buddha tea you've sent me is something quite different from Chinese teas I've drunk in the past.&rdquo;</em><br/><span class="review">Brad Robinson, UK</span>
			</p>

		</div>
		