{% extends "base.html" %}
{% load django_static %}
{% load nav_selected %}

{% block aboutselected %}selected{% endblock %}

{% block metadescription %}{% include 'flatpages/learn/metadata.html' %}{% endblock %}

{% block pagetitle %}{{ flatpage.title }}{% endblock %}

{% block extrajs %}
<script>
$(function() {
// enable circular scrollables with a click handler
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});
</script>

{% endblock %}

{% block extracss %}
<style type="text/css">

div.tea {
  float: left;
  width: 220px;	
  margin-bottom: 15px;
}

div.tea div.tea-image {
  float: left;
  margin-right: 10px;	
}

div.tea div.tea-image img {
  border-radius: 5px;	
  margin-bottom: 0px;
}

div.tea div.tea-text {
  float: left;
  width: 130px;
  font-size: 13px;
  color:#666;
}

div#main-text-wide div#right div.social {
  float: left;
  margin-left: 0px;

}

div#main-text-wide div#right div.social p {
	  font-size: 11px;
}

div.social img {
  margin-right: 5px;	
}

div.flatpage div#right div.social p {
  font-size: 11px;	
  line-height: 14px;
}

span.review {
  color: #333;	
}

/* position and dimensions of the navigator */
.navi {
	margin-left:328px;
	width:200px;
	height:20px;
}


/* items inside navigator */
.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(../img/scrollable/arrow/navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;
}

/* mouseover state */
.navi a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
.navi a.active {
	background-position:0 -16px;     
}


div.learn-comment {
  background: url('{% staticfile "/images/learn-comment.png" %}') no-repeat top left;
  float: left;	
  height: 195px;
  width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  left: -35px;
}

div.learn-comment a.button {
    background: url('{% staticfile "/images/try-tea-today-button.png" %}') no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 53px;
    left: 44px;
    position: relative;
    top: 127px;
    width: 224px;
}

div.learn-comment a.button:hover {
  background-position: center left;	
}

div.learn-comment a.button:active {
  background-position: bottom left;	
}


</style>
{% endblock %}

{% block content %}

<div id="banner">
  <div class="super">
	<h1>{{ flatpage.title }}</h1>
  </div>
</div>



<div id="main-text-wide">
  <div class="super">

	<div id="right">	
  		{% block right %}
  			
  			{% include 'flatpages/learn_navigation.html' %}
  	

  		{% endblock %}
	</div>

	<div id="left">
		{{ flatpage.content }}
	</div>

		
  </div>	
</div>




{% endblock %}
