{% load nav_selected %}
{% load thumbnail %}


<ul id="right-nav">
  <li><a class="{% nav_selected request '/learn/tea-basics/' %}" href="/learn/tea-basics/">Tea basics</a>
    {% if "tea-basics" in request.path %}
	<ul class="subnav">
   	  <li><a class="{% nav_selected request '/learn/tea-basics/what-is-chinese-tea/' %}" href="/learn/tea-basics/what-is-chinese-tea/">
  		What is Chinese tea?</a>
  	  </li>
  	  <li><a class="{% nav_selected request '/learn/tea-basics/how-is-chinese-tea-made/' %}" href="/learn/tea-basics/how-is-chinese-tea-made/">
  		How is tea made?</a>
  	  </li>
  	  <li><a class="{% nav_selected request '/learn/tea-basics/chinese-tea-ceremony/' %}" href="/learn/tea-basics/chinese-tea-ceremony/">
  		The tea ceremony</a>
  	  </li>
  	  <li><a class="{% nav_selected request '/learn/tea-basics/faqs/' %} last" href="/learn/tea-basics/faqs/">
  		FAQs</a>
  	  </li>
  	</ul>
	{% endif %}
  </li>		  
  <li><a class="{% nav_selected request '/learn/brewing-tea/' %}" href="/learn/how-to-brew-chinese-tea/">How to brew Chinese tea</a>
    {% if "how-to-brew-chinese-tea" in request.path %}
      <ul class="subnav">
  	    <li><a class="{% nav_selected request '/learn/how-to-brew-chinese-tea/water-temperature-and-quality/' %}" href="/learn/how-to-brew-chinese-tea/water-temperature-and-quality/">
  		  Water</a>
  	    </li>
  	    <li><a class="{% nav_selected request '/learn/how-to-brew-chinese-tea/tea-sets-and-brewing-equipment/' %}" href="/learn/how-to-brew-chinese-tea/tea-sets-and-brewing-equipment/">
  		  Tea sets/equipment</a>
  	    </li>
  	    <li><a class="{% nav_selected request '/learn/how-to-brew-chinese-tea/brewing-time/' %}" href="/learn/how-to-brew-chinese-tea/brewing-time/">
  		  Brewing time</a>
  	    </li>
   	    <li><a class="{% nav_selected request '/learn/how-to-brew-chinese-tea/iron-buddha-tea/' %}" href="/learn/how-to-brew-chinese-tea/iron-buddha-tea/">
  		  Iron Buddha tea</a>
  	    </li>
   	    <li><a class="{% nav_selected request '/learn/how-to-brew-chinese-tea/jasmine-pearls-tea/' %}" href="/learn/how-to-brew-chinese-tea/jasmine-pearls-tea/">
  		  Jasmine Pearls</a>
  	    </li>
  	    <li><a class="{% nav_selected request '/learn/how-to-brew-chinese-tea/da-hong-pao/' %} last" href="/learn/how-to-brew-chinese-tea/da-hong-pao/">
  		  The Big Red</a>
  	    </li>

  	  </ul>
    {% endif %}
  </li>
  <li><a class="{% nav_selected request '/learn/where-our-tea-comes-from/' %}" href="/learn/where-our-tea-comes-from/">Where our tea comes from</a>
    {% if "where-our-tea-comes-from" in request.path %}
      <ul class="subnav">
   	    <li><a class="{% nav_selected request '/learn/where-our-tea-comes-from/iron-buddha/' %}" href="/learn/where-our-tea-comes-from/iron-buddha/">
  		  Iron Buddha</a>
  	    </li>
  	    <li><a class="{% nav_selected request '/learn/where-our-tea-comes-from/the-big-red/' %}" href="/learn/where-our-tea-comes-from/the-big-red/">
  		  The Big Red</a>
  	    </li>
  	    <li><a class="{% nav_selected request '/learn/where-our-tea-comes-from/jasmine-pearls/' %} last" href="/learn/where-our-tea-comes-from/jasmine-pearls/">
  		  Jasmine Pearls</a>
  	    </li>
  	  </ul>
    {% endif %}
  
  
  </li>
  <li><a class="{% nav_selected request '/learn/weights-and-sizes/' %}" href="/learn/weights-and-sizes/">Weights and sizes</a></li>
  <li><a class="{% nav_selected request '/learn/varieties-of-chinese-tea/' %}" href="/learn/varieties-of-chinese-tea/">Varieties of Chinese tea</a></li>
</ul>

<div class="learn-comment">
 <a class="button" href="{% url teas %}"></a>
</div>



